.list-item {
  border: 2px solid #333;
  height: 150px;
  width: 150px;
  list-style: none;
  margin: 5px;
}

.active {
  border: 2px solid #EE1009;
}

.image-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 100%;
}
