#mainContainer {
    border: 2px rgb(38, 38, 138) double;
    width: 350px;
    height: 500px;
    margin: auto;
    background-color: rgb(159, 192, 219);
}

#InputBlock {
    position: relative;
    left: 45px;
}

#dialogWindow {
    height: 420px;
    overflow: auto;
}

#dialogWindow p {
    background-color: #fff;
    max-width: 250px;
    word-wrap: break-word;
    margin-bottom: 12px;
    line-height: 24px;
    padding:10px 20px;
    border-radius:0px 20px 20px 20px;
    display: table;  
}

