<section class="wrapper">
  <div class="image-box"></div>
  <div class="content">
    <div class="form-box">
      <h2 class="form-box__header">Login</h2>
      <form action="" method="post" #form>
        <app-email
          [formControl]="emailControl"
          [objectForControlsEmail]="emailControl"
          #inputFromEmail
        ></app-email>
        <app-password
          [formControl]="passwordControl"
          [objectForControlsPassword]="passwordControl"
          #inputFromPassword
        ></app-password>
        <app-checkbox [formControl]="checkboxControl"></app-checkbox>
        <div class="form-box__field">
          <button type="submit" class="button">
            <span>Sign In</span>
          </button>
        </div>
        <div class="form-box__field">
          <p>
            Don't have an account?
            <a href="" (click)="$event.preventDefault()">Sign up</a>
          </p>
        </div>
      </form>
      <h3>Login with social media</h3>
      <ul class="form-box__sci">
        <li>
          <svg width="36" height="36">
            <use xlink:href="./assets/media/sprite.svg#facebook"></use>
          </svg>
        </li>
        <li>
          <svg width="36" height="36">
            <use xlink:href="./assets/media/sprite.svg#twitter"></use>
          </svg>
        </li>
        <li>
          <svg width="36" height="36">
            <use xlink:href="./assets/media/sprite.svg#instagram"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>
