<div *ngIf="isLoading | async" class="overlay">
  <mat-progress-spinner class="spinner" [color]="'primary'" [mode]="'indeterminate'" [value]="50">
  </mat-progress-spinner>
</div>

<div *ngIf="isContent" class="overlay">
  <mat-progress-spinner class="spinner" [color]="'primary'" [mode]="'indeterminate'" [value]="50">
  </mat-progress-spinner>
</div>

<div *ngIf="!isContent"  class="container">
  <div *ngFor="let user of users">
  <div class="container-image">
    <img src="{{ user.avatar }} " alt="">
  </div>
  <div class="container-info">
    {{ user.first_name }}
    {{ user.last_name }} <br>
    {{ user.email }}
  </div>
</div>
</div>
<div *ngIf="!isContent" class="button-container">
<div *ngFor="let item of items">
  <button (click)="getUser($event)">  
    {{ item }}
  </button>
</div>
</div>