<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class = "gallery">
    <span class = "topName">Gallery</span>
    <table class = "tableOne">
        <tr>
            <td><img id = "first" class = "pictures" src="{{array[0].urls.small}}" alt="Logo" (click) = "increasePicture('first')"></td>
            <td><img id = "second" class = "pictures" src="{{array[1].urls.small}}" alt="Logo" (click) = "increasePicture('second')"></td>
            <td><img id = "third" class = "pictures" src="{{array[2].urls.small}}" alt="Logo" (click) = "increasePicture('third')"></td>
            <td><img id = "four" class = "pictures" src="{{array[3].urls.small}}" alt="Logo" (click) = "increasePicture('four')"></td>
            <td><img id = "five" class = "pictures" src="{{array[4].urls.small}}" alt="Logo" (click) = "increasePicture('five')"></td>
            <td><img id = "six" class = "pictures" src="{{array[5].urls.small}}" alt="Logo" (click) = "increasePicture('six')"></td>
            <td><img id = "seven" class = "pictures" src="{{array[6].urls.small}}" alt="Logo" (click) = "increasePicture('seven')"></td>
            <td><img id = "eight" class = "pictures" src="{{array[7].urls.small}}" alt="Logo" (click) = "increasePicture('eight')"></td>
            <td><img id = "nine" class = "pictures" src="{{array[8].urls.small}}" alt="Logo" (click) = "increasePicture('nine')"></td>
            <td><img id = "ten" class = "pictures" src="{{array[9].urls.small}}" alt="Logo" (click) = "increasePicture('ten')"></td>
        </tr>
        <tr>
            <td><img id = "eleven" class = "pictures" src="{{array[10].urls.small}}" alt="Logo" (click) = "increasePicture('eleven')"></td>
            <td><img id = "twelve" class = "pictures" src="{{array[11].urls.small}}"alt alt="Logo" (click) = "increasePicture('twelve')"></td>
            <td><img id = "thirteen" class = "pictures" src="{{array[12].urls.small}}" alt="Logo" (click) = "increasePicture('thirteen')"></td>
            <td><img id = "fourteen" class = "pictures" src="{{array[13].urls.small}}" alt="Logo" (click) = "increasePicture('fourteen')"></td>
            <td><img id = "fifteen" class = "pictures" src="{{array[14].urls.small}}" alt="Logo" (click) = "increasePicture('fifteen')"></td>
            <td><img id = "sixteen"class = "pictures" src="{{array[15].urls.small}}" alt="Logo" (click) = "increasePicture('sixteen')"></td>
            <td><img id = "seventeen" class = "pictures" src="{{array[16].urls.small}}" alt="Logo" (click) = "increasePicture('seventeen')"></td>
            <td><img id = "eighteen" class = "pictures" src="{{array[17].urls.small}}" alt="Logo" (click) = "increasePicture('eighteen')"></td>
            <td><img id = "nineteen" class = "pictures" src="{{array[18].urls.small}}" alt="Logo" (click) = "increasePicture('nineteen')"></td>
            <td><img id = "twenty" class = "pictures" src="{{array[19].urls.small}}" alt="Logo" (click) = "increasePicture('twenty')"></td>
        </tr>
    </table>
    </div>
    <img class = "bigPicture" id = "bigPicture" src="" alt="">
</body>
</html>