<ng-content></ng-content>
<div class="content-wrapper__community">
  <p class="community__text">Our Community: 
    <span class="community__text-item"> doctors <i class="fas fa-user-nurse"></i></span>
    <span class="community__text-item"> teachers <i class="fas fa-chalkboard-teacher"></i></span>
    <span class="community__text-item"> scientists <i class="fas fa-microscope"></i></span>
    <span class="community__text-item"> astronauts <i class="fas fa-user-astronaut"></i></span>
  </p>
</div>
