.header,
.footer {
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: #EEE;
}

.header {
  border-bottom: 1px solid #444;
}

.footer {
  display: none;
  border-top: 1px solid #444;
}

.main {
  display: grid;
  margin-bottom: 20px;
}
