.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.header,
.footer {
  display: grid;
  align-items: center;
  justify-items: center;
}

.footer {
  display: none;
  border-top: 1px solid #444;
}

.main {
  display: grid;
}
