
.vehicles {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.head-list {
  width: 750px;
  display: flex;
  text-align: center;
}

.head-list__num-list {
  width: 10%;
  margin-left: 1px;
  padding: 10px;
  background-color: #1E8A23;
  color: #FFF;
  text-transform: uppercase;
}

.head-list__added {
  width: 25%;
  margin-left: 1px;
  padding: 10px;
  background-color: #1E8A23;
  color: #FFF;
  text-transform: uppercase;
}

.head-list__vehicle {
  width: 65%;
  margin-left: 1px;
  padding: 10px;
  background-color: #1E8A23;
  color: #FFF;
  text-transform: uppercase;
}

.head-list__price {
  width: 25%;
  margin-left: 1px;
  padding: 10px;
  background-color: #1E8A23;
  color: #FFF;
  text-transform: uppercase;
}

.list {
  list-style-type: none;
  width: 750px;
}

.item {
  display: flex;
}

.item__index {
  padding: 10px;
  width: 10%;
  border-bottom: solid 1px #1E8A23;
  border-left: solid 1px #1E8A23;
}

.item__protocol {
  padding: 10px;
  width: 25%;
  border-bottom: solid 1px #1E8A23;
  border-left: solid 1px #1E8A23;
}

.item__vehicle {
  padding: 10px;
  width: 65%;
  border-bottom: solid 1px #1E8A23;
  border-left: solid 1px #1E8A23;
}

.item__price {
  padding: 10px;
  width: 25%;
  border-bottom: solid 1px #1E8A23;
  border-left: solid 1px #1E8A23;
  border-right: solid 1px #1E8A23;
}