<section class="container">
  <div *ngIf="areVehicleLoading">Loading...</div>

  <table *ngIf="!areVehicleLoading">
    <tr>
      <th>Added from</th>
      <th>Vehicle</th>
      <th>Price</th>
    </tr>
    <tr *ngFor="let vehicle of vehicles">
      <td [class.--color-red]="vehicle.post.protocol === 'http'">
        {{ vehicle.post.protocol }}
      </td>
      <td>
        {{ vehicle.manufacturer }} - {{ vehicle.model }} {{ vehicle.fuel }}
      </td>
      <td>
        {{
          vehicle.cost.amount
            | currency: vehicle.cost.currencyCode:"symbol-narrow"
        }}
      </td>
    </tr>
  </table>
</section>
