<app-nav-list></app-nav-list>
<div class="profile__wrapper">
  <div class="user-card">
    <img class="profile-photo" src="../../../../../assets/Circle-icons-profile.svg" alt="profile-photo">
    <ul class="profile-info__container">
      <li class="profile-info__field">John</li>
      <li class="profile-info__field">Smith</li>
    </ul>
  </div>
  <div class="gallary-wrapper">
    <h3>Gallary</h3>
    <div class="user-gallary">
      <img class="user-gallary__item-image"
      src="https://i.pinimg.com/originals/0b/ef/20/0bef203d840de504e7b05069c6f9af40.png"  alt="gallary-image">
      <img class="user-gallary__item-image"
      src="https://i.pinimg.com/originals/c6/63/60/c66360fb6a70edac24b786e9b68574f4.jpg" alt="gallary-image">
      <img class="user-gallary__item-image"
      src="https://images.hdqwalls.com/wallpapers/garena-free-fire-hayato-t1.jpg" alt="gallary-image">
      <img class="user-gallary__item-image"
      src="https://s3-alpha-sig.figma.com/img/d85f/bb7f/f20a9b3ebbf6a5aeb06b20c12eef7a02?Expires=1612742400&Signature=VMf~8ly0-1tOdrK9xLBbH96GZDZXp2rVUUbVkQHgETzb0vvErVNQPdSJRTCu50cfoJjm-3voT3QDw~horPCJDm8vPa00rwJPEsiqPoTzgu1Zru0G-jrGYSj4UAiu5m1IpRpp2unCaidhW2j69BkBjcH67vrFU2pNrotS1Wcze7gHSlwoi5r03zqxXQ5m6uDd5tPN7mH6vKICfnGlpG5y3TZml3RByJ-giLftZH0yZatFDhFM0JzIIQY7xn8EmAYvtUa078JJIOAZs9OwxpmrPk9EDNoNLxhvO63Mi9d19lRWrfq9aP88nueDVAcwxZtSINypIfXhcdiDXTZ0zNPqzw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="gallary-image">
    </div>
  </div>
</div>
