body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  max-width: 960px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  background-color: #FFF;
  height: 100px;
  position: sticky;
  top: -105px;
  align-items: center;
  transition: top .3s;
  border: 2px solid #CCC;
  padding: 0 15px;
}

.header.active {
  top: 0;
  transition: top .3s;
}

.logo {
  padding: 0;
  margin: 0;
}

.main {
  padding: 15px;
  text-align: justify;
  font-size: 1.5em;
  border-bottom: 2px solid #CCC;
  border-right: 2px solid #CCC;
  border-left: 2px solid #CCC;
}
