.wrapper {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  align-content: center;
  justify-content: center;
}

.wrapper label {
  position: relative;
}

.wrapper label input {
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.wrapper label svg {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 20%;
  margin: 0 4px;
  cursor: pointer;
  fill: #FFF;
  box-shadow: -1px -1px 3px rgba(255, 255, 255, .1), 2px 2px 6px rgba(0, 0, 0, .8);
}

.wrapper label .button__image svg:hover {
  box-shadow: -1px -1px 3px rgba(255, 255, 255, .1), 2px 2px 6px rgba(0, 0, 0, .8), inset -2px -2px 10px rgba(0, 0, 0, .05), inset 2px 2px 10px rgba(0, 0, 0, .5);
}

.wrapper label input:checked ~ svg {
  fill: #2196F3;
  box-shadow: inset -1px -1px 3px rgba(255, 255, 255, .1), inset 2px 2px 6px rgba(0, 0, 0, .1);
  filter: drop-shadow(0 0 5px #2196F3);
}
