:host {
  display: flex;
  flex-direction: column;
  grid-area: nav-bar;
  background-color: #805315;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .7);
  opacity: .9;
}

.nav-bar__link {
  text-decoration: none;
  color: #FFDBAA;
  font-size: 1.33rem;
  margin: 2px 0;
  transition: all .2s ease-in-out;
}

.nav-bar__link:hover {
  color: #FFFEAA;
  transform: scale(1.05);
}