div {
  display: inline-block;
}

.image {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 10px solid #0001;
}

.image > * {
  pointer-events: none;
}

.image:hover {
  border-color: #0003;
}

.image:active {
  border-color: #0005;
}

.image-choose {
  border-color: #F003;
}

.spinner-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: yellowgreen;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

img.spinner {
  width: 80%;
  height: 80%;
}

.hidden {
  display: none;
}
