* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  background-color: #C6CFCA;
  color: #333;
}

.page {
  display: flex;
  justify-content: space-between;
  width: 60%;
  height: 100vh;
  margin: 0 auto;
  padding-top: 80px;
}

.main-tasks-block {
  display: flex;
  flex-direction: column;
}

.input, .btn, .select {
  border: none;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  margin-bottom: 20px;
  text-align: center;
}

.error-message {
  margin-left: 10px;
  color: #381D2A;
}

.btn {
  margin-bottom: 10px;
  background-color: #9AAAA1;
  width: 250px;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.select {
  background-color: #FFF;
}

.input:focus, .btn:focus, .select:focus {
  outline: none;
}

.output-result {
  margin-bottom: 30px;
  text-align: center;
}

.clock__output {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}
