<div class="container">
  <h1>Angular reactive forms</h1>

  <form class="form-container" [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-control">
      <label for="emailCaption">Email: </label>
      <input id="emailCaption" class="field-input" type="text" placeholder="enter email" formControlName="email">
      <div
        *ngIf="isControlInvalid('email')"
        class="validation"
      >
        <small>{{ getFieldRequiredError('email') }}</small>
        <small>{{ getFieldError('email') }}</small>
      </div>
    </div>

    <div class="form-control">
      <label for="passwordCaption">Password: </label>
      <input id="passwordCaption" class="field-input" type="password" placeholder="enter password" formControlName="password">
      <div
        *ngIf="isControlInvalid('password')"
        class="validation"
      >
        <small>{{ getFieldRequiredError('password') }}</small>
    </div>
    </div>

    <div class="form-control">
      <input id="checkboxCaption" type="checkbox" formControlName="checkbox">
      <label for="checkboxCaption"> remember me</label>
    </div>

    <button class="btn" type="submit" [disabled]="form.invalid">Login</button>
  </form>
</div>
