<div class="container">
  <h1>Angular reactive forms</h1>

  <form class="form-container" [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-control">
      <label>Email: </label>
      <input class="field-input" type="text" placeholder="enter email" formControlName="email">
      <div
        *ngIf="form.get('email').invalid && form.get('email').touched"
        class="validation"
      >
        <small *ngIf="form.get('email')?.errors.required">
          The field cannot be empty.
        </small>
        <small *ngIf="form.get('email').errors.email">
          Enter correct email.
        </small>
      </div>
    </div>

    <div class="form-control">
      <label>Password: </label>
      <input class="field-input" type="password" placeholder="enter password" formControlName="password">
      <div
        *ngIf="form.get('password').invalid && form.get('password').touched"
        class="validation"
      >
        <small *ngIf="form.get('password').errors.required">
          The field cannot be empty.
        </small>
    </div>
    </div>

    <div class="form-control">
      <input type="checkbox" formControlName="checkbox">
      <label> remember me</label>
    </div>

    <button class="btn" type="submit" [disabled]="form.invalid">Login</button>
  </form>
</div>
