.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  background-color: rgba(156, 209, 224, .39);
  border: 1px solid transparent;
  border-radius: 5px;
  width: 250px;
  height: 350px;
  margin: 20px;
}

.user-photo {
  padding-top: 20px;
}

.card:hover {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, .5);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .192);
}
