body {
		padding-left: 100px;
		background-color: gray;
}

.mainDiv {
    width: 1600px;
    height: 4476px;
    background: #FFFFFF;
}

.head {
    height: 737px;
    background-image: url(img/Rectangle\ 2.png);
}

.mainNavig {
    height: 116px;
    background: rgba(196, 196, 196, 0.1);
    display: flex;
}

.labelCercel {
    display: flex;
    background-color: #C8C8C8;
    margin-left:245px;
    margin-top: 22px;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.links {
    display: flex;
    justify-content: space-beetween;
    background-color: green;
}

.linkOne {
    width: 126px;
    margin-left: 21px;
    margin-top: 45px;
    margin-right: 162px; 
    font-family: Arial;
    font-size: 22px;
    font-style: normal; 
} 

.linkTwo{
    width: 54px;
    margin-right: 58px;
}

.linkThree {
    width: 81px;
    margin-right: 58px;
}

.linkFour {
    width: 66px;
    margin-right: 58px;
}

.linkFive{
    width: 65px;
    margin-right: 58px;
}

.navString {
    color: #505050;
    text-decoration: none;
    font-family: Times New Roman;
    margin-top: 44px;
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
}

.btnContact {
    margin-top: 31px;
    width: 234px;
    height: 60px;
    background: #9B9BCA;
    border-radius: 10px;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
}

.mainH {
    width: 548px;
    height: 112px;
    font-family: DM Serif Display, 'Times New Roman', Times, serif;
    font-weight: 400px;
    font-style: normal;
    font-size: 56px;
    color: #696A86;
    margin-top: 188px;
    margin-left: 245px;
}

.headerText {
    width: 751px;
    height: 81px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin-left: 245px;
		line-height: 27px;
		color: #626780;
}

.btnStart {
    width: 234px;
    height: 60px;
    background: #9B9BCA;
    border-radius: 10px;
    border: none;
    margin-left: 245px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: white;
}

.fourHeader {
    margin-left: 639px;
    margin-top: 100px;
    width: 329px;
    height: 39px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    color: #626780;
}

.paragOne {
		margin-left: 480px;
    width: 600px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: #626780;
    text-align: center;
}

.secondBlock {
    height: 693px;
}

.mainPagese {
    display: flex;
    background-image: url('img/Rectangle 7.png');
    height: 780px;
}

.secondHeader {
    margin-left: 297px;
    margin-top: 119px;
    width: 550px;
    height: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 140%;
}

.servises {
	display: flex;
	justify-content: center;
}

.contentBox {
	border: 1px solid white;
	width: 260px;
	padding: 10px;
	margin-top: 120px;
	margin-left: 10px;
    text-align: center;
}

.contentBox:hover {
	border: 1px solid black;
}

.contentHeader {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
	font-size: 22px;
	line-height: 40px;
	color: #626780;
}

.contentText {
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #626780;
}

.infoForCustomers {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 1893px;
}

.customersInfoHeader {
	text-align: center;
	margin-top: 100px;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 26px;
	line-height: 30px;
	color: #626780;
}

.customersTextInfo {
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	color: #626780;
	width: 660px;
	height: 60px;
}

.customersContent {
	display: flex;
	justify-content: center;
	justify-content: space-between;
	margin-left: 314px;
	margin-right: 313px;
	width: 973px;
}

.informationForCustomers {
	margin-top: 100px;
	border: 1px solid #d3d3d3;
	background: #FFFFFF;
	box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	width: 442px;
	height: 545px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.pictures {
	width: 339px;
	height: 149px;
	border-radius: 10px;
}

.infoHeader {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 26px;
	line-height: 100%;
  color: #000000;
}

.bntInfo {
	border: none;
	transform: translateY(50%);
	width: 234px;
	height: 60px;
	background: #9595C9;
	border-radius: 10px;
}

.infoText {
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	color: #626780;
}

.thirdHeader {
	text-align: center;
	font-family: PT Serif;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 140%;
	color: #402B2B;
}

.formInput {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 708px;
	height: 566px;
	border: 1px solid rgb(192, 192, 192);
	box-shadow: 0px 20px 40px rgba(149, 149, 201, 0.4);
	border-radius: 10px;
}

.labelForInput {
	display: flex;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 40px;
	color: #626780;
}

.styleForInput {
	width: 400px;
	height: 60px;
	background: #FFFFFF;
	border: 2px solid #9595C9;
	box-sizing: border-box;
	box-shadow: 0px 20px 40px rgba(149, 149, 201, 0.2);
	border-radius: 10px;
}

.btnInput {
	margin-top: 30px;
	width: 220px;
	height: 60px;
	background: #9595C9;
	border-radius: 5px;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #FFFFFF;
	border: none;
}