.out {
  list-style-type: none;
}

body {
  margin: 0;
}

button {
  position: relative;
  top: 750px;
}

input {
  position: relative;
  top: 750px;
  left: -12px;
}

input[type=text]:focus {
  background-color: #ADD8E6;
}

.container {
  border: 2px solid #DEDEDE;
  background-color: #F1F1F1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  height: 700px;
  position: relative;
  left: 0px;
}

#sidebar,
#content {
  position: absolute;
}

#sidebar,
#content {
  overflow: auto;
  padding: 10px;
}

#header {
  height: 40px;
  background: #A6F19C;
  border-bottom: 2px solid #000;
}

#header h1 {
  padding: 10px;
  margin: 0;
}

#sidebar {
  width: 150px;
  background: #98CCC9;
  border-right: 1px solid #231F20;
  top: 42px;
  bottom: 0;
}

#content {
  background-color: rgb(255, 255, 255);
  top: 42px;
  left: 170px;
  bottom: 0;
  right: 0;
}