.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  position: relative;
  padding: 0 15px;
  height: 90%;
  min-height: 654px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  overflow-y: auto;
}

.app-card {
  position: relative;
  min-width: 350px;
  height: 100%;
  min-height: 654px;
  overflow: hidden;
  display: flex;
  align-items: center;
  opacity: .98;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

@media screen and (max-height: 775px) {

  .card-container {
    height: 530px;
    min-height: 530px;
  }

  .app-card {
    padding-top: 30px;
    height: 530px;
    min-height: 530px;
    align-items: flex-start;
  }
}

@media screen and (max-width: 720px) {

  .button-container {
    transform: scale(.8);
    gap: 25px;
  }
}

@media screen and (max-width: 600px) {

  .button-container {
    transform: scale(.7);
    gap: 20px;
  }
}

@media screen and (max-width: 475px) {

  .button-container {
    transform: scale(.6);
    gap: 15px;
  }
}
