.img-wrapper {
  margin: 15px auto;
  list-style: none;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.image {
  margin: 10px;
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image-headline {
  text-align: center;
}

.selected {
  border: 3px solid #FF0505;
}
