
<div class="container">
  <h1>Users cards</h1>
  <hr class="divider">
  <span class="loader" *ngIf="loading; else cards">Loading...</span>
  <ng-template #cards>
    <div class="flex-container">
      <div *ngFor="let user of users | paginate: paginationParams" class="user-card">
        <div><img src="{{ user.avatar }}" alt="avatar"></div>
        <p><span class="font-bold">First name: </span>{{ user.first_name }}</p>
        <p><span class="font-bold">Last name: </span>{{ user.last_name }}</p>
        <p><span class="font-bold">Email: </span>{{ user.email }}</p>
      </div>
    </div>
  </ng-template>
  <hr class="divider">
  <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div>
