html, body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #1B202C;
}

button {
  background: none;
  color: #FFF;
  padding: 3px 10px;
  margin: 5px;
  border: 1px solid #FFF;
  border-radius: 5px;
  cursor: pointer;
  transform: perspective(1px) translateZ(0);
  transition-duration: 1s;
  transition-property: color, background-color;
}

.js-massage-blok {
  flex-direction: column;
  width: 300px;
  height: 150px;
  padding: 5px;
  border: solid 1px #000;
  overflow-y: scroll;
}

.massage {
  background-color: #FFF;
  border: 1px solid #000;
  border-radius: 5px;
}

.typing {
  color: #FFF;
}
