.container {
  max-width: 480px;
  margin: 0 auto;
  border: 4px solid #000;
}

.header {
  min-height: 20px;
  margin: 10px;
}

.post, .message {
  margin: 20px 5px;
  padding: 10px;
  border: 4px solid #000;
}

.message {
  text-align: center;
}

.message.green {
  border: 4px solid #080;
  color: #080;
}

.message.red {
  border: 4px solid #F00;
  color: #F00;
}

.deleteButton {
  height: 20px;
  width: 20px;
  color: #F00;
  font-size: 15px;
  background: none;
  border: none;
  float: right;
  font-weight: 700;
}

.sort {
  float: right;
  text-align: right;
  width: 40%;
}

.sort select {
  width: 100%;
  height: 20px;
  font-size: 15px;
}

.filter {
  float: left;
  text-align: left;
  width: 60%;
}

.image-wrap {
  width: 100%;
  padding: 20px 0;
}

.image-center {
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
}
