.post-wrapper {
  border: 1px solid #000;
  margin-top: 10px;
  padding: 5px 5px 15px 15px;
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
}

.input {
  height: 20px;
}

.label {
  height: 26px;
  width: 80px;
}

.disabled {
  pointer-events: none;
  opacity: .5;
  background: #CCC;
}

.btn {
  height: 35px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 25px;
}

.hidden {
  display: none;
}

.container {
  position: relative;
}

.lds-ring {
  position: absolute;
  left: 50%;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #CCC;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(.5, 0, .5, 1) infinite;
  border-color: #CCC transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -.15s;
}

@keyframes lds-ring {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
