<ul class="image-gallery">
  <li class="image-gallery__item"
      *ngFor="let image of images" (click)="onSelect(image)"
      [class.selected]="image === selectedImage">


    <img src="{{image.urls.small}}" class="image-gallery__image image" alt="" (load)="onLoad()">
    <div *ngIf="loading" class="loader-wrap"><div class="loader"></div></div>

  </li>
</ul>

<div *ngIf="selectedImage" class="image-block">
  <img src="{{selectedImage.urls.regular}}" class="image-block__full-image image" alt="">
</div>
