*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  overflow: hidden;
  font-family: Arial sans-serif;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

input, button {
  border: none;
  resize: none;
  -webkit-appearance: none;
  outline: none;
}

.container {
  background: #1A2835;
  color: #FFF;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  align-items: center;
}

.content-container_pd {
  padding-right: 10px;
  padding-left: 10px;
}

.content-container {
  height: calc(90vh - 100px);
  min-width: 50vw;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background: #434C5E;
  border-radius: 16px;
}

.content {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  margin: 15px 0 0;
}

.content_item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px;
  background: #6BA1CE;
  border-radius: 8px;
}

.content_item_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.content_item_text {
  border: 1px solid #FFF;
  border-radius: 4px;
  padding: 10px;
}

.content_item:last-child {
  margin-bottom: 0;
}

.content_item > span:hover {
  cursor: pointer;
}

.write-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #233446;
  border-radius: 8px;
}

.write-container_input-field {
  font-size: 16px;
  padding: 5px 10px 10px;
  margin-right: 15px;
  width: 100%;
  background: inherit;
  font-weight: 200;
  color: #F5F5F5;
  max-height: 30vh;
}

.dropdown {
  position: relative;
  background: #6BA1CE;
}

.dropdown > .dropdown-box {
  display: none;
}

.dropdown_title {
  padding: 10px;
}

.dropdown:hover > .dropdown-box {
  cursor: pointer;
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background: #6BA1CE;
}

.dropdown_item {
  padding: 10px;
  background: #233446;
  border-top: 1px solid #0A7899;
}

.response {
  visibility: hidden;
  color: #FFF;
  padding: 5px;
  border-radius: 6px;
  background: #ADFF2F;
}

.response.error {
  visibility: visible;
  animation-name: flashing;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes flashing {

  0% {
    background: rgba(255, 5, 0, .3);
  }

  50% {
    background: rgba(255, 5, 0, .8);
  }

  100% {
    background: rgba(255, 5, 0, 1);
  }
}
