body {
  width: 100%;
}

.wrapper {
  width: 50%;
  margin: 100px auto;
}

.form-box {
  width: 100%;
  padding: 30px;
  justify-content: center;
  align-items: center;
  font-family: "Calibri", "Roboto", sans-serif;
  font-size: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-text-field, .form-checkbox {
  margin-bottom: 10px;
}

.form-checkbox {
  font-style: italic;
}

.form-button {
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 8px;
  width: 20%;
}

.error-message {
  color: #A52A2A;
  font-weight: 600;
}
