.user-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding-top: 50px;
  max-width: 50%;
  min-height: 150px;
}

.user-card {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: #00F;
  border-width: 2px;
}

.user-avatar {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.pagination-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 20px 0;
}

.pagination-element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-left: 5px;
  border-radius: 10px;
  border-color: #808080;
  border-style: solid;
  border-width: 2px;
}

.pagination-current {
  border-color: #00F;
}

.pagination-element:first-child {
  margin-left: 0;
}

.item-count-selection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  max-width: 150px;
}

.loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

@-webkit-keyframes load5 {

  0%,
  100% {
    box-shadow: 0 -2.6em 0 0 #00F, 1.8em -1.8em 0 0 rgba(55, 0, 255, .2), 2.5em 0 0 0 rgba(55, 0, 255, .2), 1.75em 1.75em 0 0 rgba(55, 0, 255, .2), 0 2.5em 0 0 rgba(55, 0, 255, .2), -1.8em 1.8em 0 0 rgba(55, 0, 255, .2), -2.6em 0 0 0 rgba(55, 0, 255, .5), -1.8em -1.8em 0 0 rgba(55, 0, 255, .7);
  }

  12.5% {
    box-shadow: 0 -2.6em 0 0 rgba(55, 0, 255, .7), 1.8em -1.8em 0 0 #00F, 2.5em 0 0 0 rgba(55, 0, 255, .2), 1.75em 1.75em 0 0 rgba(55, 0, 255, .2), 0 2.5em 0 0 rgba(55, 0, 255, .2), -1.8em 1.8em 0 0 rgba(55, 0, 255, .2), -2.6em 0 0 0 rgba(55, 0, 255, .2), -1.8em -1.8em 0 0 rgba(55, 0, 255, .5);
  }

  25% {
    box-shadow: 0 -2.6em 0 0 rgba(55, 0, 255, .5), 1.8em -1.8em 0 0 rgba(55, 0, 255, .7), 2.5em 0 0 0 #00F, 1.75em 1.75em 0 0 rgba(55, 0, 255, .2), 0 2.5em 0 0 rgba(55, 0, 255, .2), -1.8em 1.8em 0 0 rgba(55, 0, 255, .2), -2.6em 0 0 0 rgba(55, 0, 255, .2), -1.8em -1.8em 0 0 rgba(55, 0, 255, .2);
  }

  37.5% {
    box-shadow: 0 -2.6em 0 0 rgba(55, 0, 255, .2), 1.8em -1.8em 0 0 rgba(55, 0, 255, .5), 2.5em 0 0 0 rgba(55, 0, 255, .7), 1.75em 1.75em 0 0 #00F, 0 2.5em 0 0 rgba(55, 0, 255, .2), -1.8em 1.8em 0 0 rgba(55, 0, 255, .2), -2.6em 0 0 0 rgba(55, 0, 255, .2), -1.8em -1.8em 0 0 rgba(55, 0, 255, .2);
  }

  50% {
    box-shadow: 0 -2.6em 0 0 rgba(55, 0, 255, .2), 1.8em -1.8em 0 0 rgba(55, 0, 255, .2), 2.5em 0 0 0 rgba(55, 0, 255, .5), 1.75em 1.75em 0 0 rgba(55, 0, 255, .7), 0 2.5em 0 0 #00F, -1.8em 1.8em 0 0 rgba(55, 0, 255, .2), -2.6em 0 0 0 rgba(55, 0, 255, .2), -1.8em -1.8em 0 0 rgba(55, 0, 255, .2);
  }

  62.5% {
    box-shadow: 0 -2.6em 0 0 rgba(55, 0, 255, .2), 1.8em -1.8em 0 0 rgba(55, 0, 255, .2), 2.5em 0 0 0 rgba(55, 0, 255, .2), 1.75em 1.75em 0 0 rgba(55, 0, 255, .5), 0 2.5em 0 0 rgba(55, 0, 255, .7), -1.8em 1.8em 0 0 #00F, -2.6em 0 0 0 rgba(55, 0, 255, .2), -1.8em -1.8em 0 0 rgba(55, 0, 255, .2);
  }

  75% {
    box-shadow: 0 -2.6em 0 0 rgba(55, 0, 255, .2), 1.8em -1.8em 0 0 rgba(55, 0, 255, .2), 2.5em 0 0 0 rgba(55, 0, 255, .2), 1.75em 1.75em 0 0 rgba(55, 0, 255, .2), 0 2.5em 0 0 rgba(55, 0, 255, .5), -1.8em 1.8em 0 0 rgba(55, 0, 255, .7), -2.6em 0 0 0 #00F, -1.8em -1.8em 0 0 rgba(55, 0, 255, .2);
  }

  87.5% {
    box-shadow: 0 -2.6em 0 0 rgba(55, 0, 255, .2), 1.8em -1.8em 0 0 rgba(55, 0, 255, .2), 2.5em 0 0 0 rgba(55, 0, 255, .2), 1.75em 1.75em 0 0 rgba(55, 0, 255, .2), 0 2.5em 0 0 rgba(55, 0, 255, .2), -1.8em 1.8em 0 0 rgba(55, 0, 255, .5), -2.6em 0 0 0 rgba(55, 0, 255, .7), -1.8em -1.8em 0 0 #00F;
  }
}

@keyframes load5 {

  0%,
  100% {
    box-shadow: 0 -2.6em 0 0 #00F, 1.8em -1.8em 0 0 rgba(55, 0, 255, .2), 2.5em 0 0 0 rgba(55, 0, 255, .2), 1.75em 1.75em 0 0 rgba(55, 0, 255, .2), 0 2.5em 0 0 rgba(55, 0, 255, .2), -1.8em 1.8em 0 0 rgba(55, 0, 255, .2), -2.6em 0 0 0 rgba(55, 0, 255, .5), -1.8em -1.8em 0 0 rgba(55, 0, 255, .7);
  }

  12.5% {
    box-shadow: 0 -2.6em 0 0 rgba(55, 0, 255, .7), 1.8em -1.8em 0 0 #00F, 2.5em 0 0 0 rgba(55, 0, 255, .2), 1.75em 1.75em 0 0 rgba(55, 0, 255, .2), 0 2.5em 0 0 rgba(55, 0, 255, .2), -1.8em 1.8em 0 0 rgba(55, 0, 255, .2), -2.6em 0 0 0 rgba(55, 0, 255, .2), -1.8em -1.8em 0 0 rgba(55, 0, 255, .5);
  }

  25% {
    box-shadow: 0 -2.6em 0 0 rgba(55, 0, 255, .5), 1.8em -1.8em 0 0 rgba(55, 0, 255, .7), 2.5em 0 0 0 #00F, 1.75em 1.75em 0 0 rgba(55, 0, 255, .2), 0 2.5em 0 0 rgba(55, 0, 255, .2), -1.8em 1.8em 0 0 rgba(55, 0, 255, .2), -2.6em 0 0 0 rgba(55, 0, 255, .2), -1.8em -1.8em 0 0 rgba(55, 0, 255, .2);
  }

  37.5% {
    box-shadow: 0 -2.6em 0 0 rgba(55, 0, 255, .2), 1.8em -1.8em 0 0 rgba(55, 0, 255, .5), 2.5em 0 0 0 rgba(55, 0, 255, .7), 1.75em 1.75em 0 0 #00F, 0 2.5em 0 0 rgba(55, 0, 255, .2), -1.8em 1.8em 0 0 rgba(55, 0, 255, .2), -2.6em 0 0 0 rgba(55, 0, 255, .2), -1.8em -1.8em 0 0 rgba(55, 0, 255, .2);
  }

  50% {
    box-shadow: 0 -2.6em 0 0 rgba(55, 0, 255, .2), 1.8em -1.8em 0 0 rgba(55, 0, 255, .2), 2.5em 0 0 0 rgba(55, 0, 255, .5), 1.75em 1.75em 0 0 rgba(55, 0, 255, .7), 0 2.5em 0 0 #00F, -1.8em 1.8em 0 0 rgba(55, 0, 255, .2), -2.6em 0 0 0 rgba(55, 0, 255, .2), -1.8em -1.8em 0 0 rgba(55, 0, 255, .2);
  }

  62.5% {
    box-shadow: 0 -2.6em 0 0 rgba(55, 0, 255, .2), 1.8em -1.8em 0 0 rgba(55, 0, 255, .2), 2.5em 0 0 0 rgba(55, 0, 255, .2), 1.75em 1.75em 0 0 rgba(55, 0, 255, .5), 0 2.5em 0 0 rgba(55, 0, 255, .7), -1.8em 1.8em 0 0 #00F, -2.6em 0 0 0 rgba(55, 0, 255, .2), -1.8em -1.8em 0 0 rgba(55, 0, 255, .2);
  }

  75% {
    box-shadow: 0 -2.6em 0 0 rgba(55, 0, 255, .2), 1.8em -1.8em 0 0 rgba(55, 0, 255, .2), 2.5em 0 0 0 rgba(55, 0, 255, .2), 1.75em 1.75em 0 0 rgba(55, 0, 255, .2), 0 2.5em 0 0 rgba(55, 0, 255, .5), -1.8em 1.8em 0 0 rgba(55, 0, 255, .7), -2.6em 0 0 0 #00F, -1.8em -1.8em 0 0 rgba(55, 0, 255, .2);
  }

  87.5% {
    box-shadow: 0 -2.6em 0 0 rgba(55, 0, 255, .2), 1.8em -1.8em 0 0 rgba(55, 0, 255, .2), 2.5em 0 0 0 rgba(55, 0, 255, .2), 1.75em 1.75em 0 0 rgba(55, 0, 255, .2), 0 2.5em 0 0 rgba(55, 0, 255, .2), -1.8em 1.8em 0 0 rgba(55, 0, 255, .5), -2.6em 0 0 0 rgba(55, 0, 255, .7), -1.8em -1.8em 0 0 #00F;
  }
}
