body {
  background-color: rgba(58, 133, 114, .644);
}

.wrapper {
  margin: 50px auto;
  width: 620px;
  height: 500px;
  display: flex;
  flex-direction: column;
  background-color: rgba(39, 27, 33, .596);
  color: rgb(255, 255, 255);
}

.parameters_container {
  display: flex;
  flex-direction: row;
  width: 620px;
  height: 60px;
  margin: 0;
  background-color: rgb(39, 27, 33);
}

.parameters {
  width: 200px;
  height: 38px;
  margin: 11px auto;
}

.current-time {
  text-align: center;
  width: 160px;
  height: 35px;
  padding-top: 5px;
  font-size: 28px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.input_date-form {
  text-align: center;
  margin-left: 40px;
}

.input_date-field {
  width: 156px;
  height: 36px;
  font-size: 16px;
  letter-spacing: 1px;
  border: 1px solid rgb(0, 0, 0);
}

.sort_list {
  width: 156px;
  height: 38px;
  font-size: 16px;
  letter-spacing: 1px;
  border: 1px solid rgb(0, 0, 0);
}

.date-info_container {
  width: 520px;
  height: 320px;
  margin: 60px 50px;
  display: flex;
  flex-direction: column;
}

.info-btn {
  width: 200px;
  height: 40px;
  font-size: 14px;
  font-weight: 700;
}

.info_text {
  font-size: 20px;
  font-weight: 500;
  width: 190px;
  height: 20px;
  margin: 10px 5px;
  padding: 0;
}

.info-btn:hover {
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.info-btn:active {
  width: 196px;
  height: 36px;
  margin: 2px;
}

.input_date-field:hover {
  cursor: pointer;
}

.sort_list:hover {
  cursor: pointer;
}
