<div class="wrapper">
  <span class="field__name">Password</span>
  <input
    class="field__input"
    type="password"
    (input)="eventStarted($event)"
    [class.invalid]="
      _objectForControlsPassword.invalid &&
      (_objectForControlsPassword.touched || _objectForControlsPassword.dirty)
    "
    [class.valid]="_objectForControlsPassword.valid"
    [class.untouched]="_objectForControlsPassword.pristine"
    #field
    value="{{ password }}"
  />
  <div
    class="field__error"
    *ngIf="
      _objectForControlsPassword.invalid &&
      (_objectForControlsPassword.touched || _objectForControlsPassword.dirty)
    "
  >
    <span
      class="field__error-message"
      *ngIf="_objectForControlsPassword.errors?.required"
      >This field is required</span
    >
  </div>
  <div class="field__error" *ngIf="message">
    <span
      class="field__error-message"
      *ngIf="message"
      [class.greenText]="message === 'Complex password'"
      >{{ message }}</span
    >
  </div>
  <div class="field__icon" (click)="handle($event, field)">
    <svg width="36" height="36">
      <use
        xlink:href="./assets/media/sprite.svg#view"
        data-svg="view"
      ></use>
    </svg>
  </div>
</div>
