.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.item {
  border: 2px solid rgb(141, 132, 132);
  max-height: 200px;
  max-width: 150px;
  margin: 6px;
}

.item--active {
  border: 2px solid rgb(70, 199, 19);
}

img {
  width: 100%;
  height: 100%;
}
