<section class="contact">
  <div class="content">
    <h2>Contact Us</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui molestiae
      inventore nemo excepturi magnam voluptate. Totam vel, rerum alias
      molestias exercitationem consequatur facilis illum rem quas cum quidem
      repellat delectus commodi labore dicta, voluptatibus praesentium magnam
      aspernatur ut tempore quaerat saepe. Quia amet exercitationem totam iure,
      animi suscipit quaerat vel ipsum. Deleniti quam vitae dolore et quos
      nihil! Explicabo, commodi quod. Aliquam, dolorem! Fuga repudiandae sequi
      sed quam error eum alias rerum autem illo, corrupti quidem nam adipisci
      saepe velit impedit architecto aliquam officiis dignissimos nulla
      distinctio harum? Consequuntur atque eveniet amet neque quod qui, deleniti
      dolore minima molestias vitae.
    </p>
  </div>
  <div class="container">
    <div class="contactInfo">
      <div class="box">
        <div class="icon">
          <svg width="36" height="36">
            <use xlink:href="../../../assets/media/sprite.svg#adress"></use>
          </svg>
        </div>
        <div class="text">
          <h3>Adress</h3>
          <p>Lorem ipsum dolor sit.</p>
        </div>
      </div>
      <div class="box">
        <div class="icon">
          <svg width="36" height="36">
            <use xlink:href="../../../assets/media/sprite.svg#email"></use>
          </svg>
        </div>
        <div class="text">
          <h3>Phone</h3>
          <p>+380931112233</p>
        </div>
      </div>
      <div class="box">
        <div class="icon">
          <svg width="36" height="36">
            <use xlink:href="../../../assets/media/sprite.svg#phone"></use>
          </svg>
        </div>
        <div class="text">
          <h3>Email</h3>
          <p>somethingEmail@.com</p>
        </div>
      </div>
    </div>
    <div class="contactForm">
      <form action="">
        <h2>Send Message</h2>
        <div class="inputBox">
          <input type="text" name="" required="required" />
          <span>Full Name</span>
        </div>
        <div class="inputBox">
          <input type="text" name="" required="required" />
          <span>Email</span>
        </div>
        <div class="inputBox">
          <textarea name="" id="" required="required"></textarea>
          <span>Type your Message</span>
        </div>
        <div class="inputBox">
          <input type="submit" name="" value="Send" />
        </div>
      </form>
    </div>
  </div>
</section>
