.home-work-headline,
.headline {
  text-align: center;
}

.headline {
  color: #4C566A;
}

.cards-list {
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.user-card {
  margin-right: 25px;
  padding: 15px;
  border: 1px solid #4C566A;
  border-radius: 8px;
}

.user-avatar {
  border: 1px solid #4C566A;
  border-radius: 8px;
}
