@media screen and (max-width: 575px) /* mobile */ {

  .container {
    max-width: 320px;
  }

  .logo__letters {
    padding: 12px;
    font-size: 16px;
  }

  .logo__description {
    margin-left: 15px;
    font-size: 18px;
  }


  .menu__btn {
    display: block;
  }

  .btn {
    padding: 10px 35px;
    font-size: 16px;
    border-radius: 5px;
  }

  .top__headline {
    display: none;
  }

  .top__under-headline {
    display: none;
  }

  .under-headline {
    font-size: 18px;
    line-height: 27px;
    max-width: 250px;
  }

  .top__under-headline {
    padding-bottom: 20px;
  }

  .top__btn {
    margin: 28px 0 0;
  }

  .section {
    margin: 50px auto;
    text-align: center;
  }

  .service__under-headline {
    line-height: 30px;
  }

  .service__list {
    padding: 0;
  }

  .service__item {
    padding: 10px;
    margin: 0 5px 15px;
    max-width: 145px;
  }

  .service__item__headline {
    font-weight: 500;
    padding: 18px;
    font-size: 22px;
    line-height: 27px;
  }

  .service__item__text {
    font-size: 14px;
    line-height: 18px;
  }

  .demo__headline {
    font-weight: 400;
    max-width: 250px;
    padding: 0 0 20%;
    font-size: 26px;
    line-height: 32px;
  }

  .feature__list {
    margin: 30px 0;
  }

  .form {
    width: 76%;
  }

  .form__headline {
    font-size: 38px;
    line-height: 47px;
  }

  .footer__item {
    margin-right: 40px;
  }

  .social__list {
    padding-left: 0;
  }
}

@media (min-width: 576px) /* Medium devices (tablets, 768px and up)*/ {

  .container {
    max-width: 760px;
  }

  .container-wrapper {
    width: 95%;
  }

  .logo__letters {
    padding: 15px;
    font-size: 18px;
  }

  .logo__description {
    margin-left: 18px;
    font-size: 20px;
  }

  .menu__btn {
    display: block;
    margin: 0;
  }

  .menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }

  .menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  .menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  .nav__list {
    display: none;
  }

  .menu__toggle:checked ~ .nav__list {
    position: fixed;
    left: 150px;
    top: 50px;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
  }

  .nav__link {
    text-decoration: none;
    margin-bottom: 15px;
  }

  .menu__toggle:checked ~ .nav__link {
    position: fixed;
    left: 150px;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #717784;
    text-decoration: none;
  }

  .btn {
    padding: 15px 50px;
    font-size: 18px;
    border-radius: 8px;
  }

  .top__headline {
    padding: 5% 0 20px;
    font-size: 26px;
    line-height: 36px;
  }

  .under-headline {
    max-width: 400px;
    font-size: 18px;
    line-height: 27px;
  }

  .top__under-headline {
    padding-bottom: 25px;
    font-size: 13px;
    line-height: 17px;
    max-width: 458px;
  }

  .top__btn {
    margin-bottom: 70px;
  }

  .section {
    margin: 70px auto;
    text-align: center;
  }

  .service__item {
    padding: 15px;
    margin-right: 10px;
    max-width: 250px;
  }

  .service__under-headline {
    line-height: 35px;
  }

  .list {
    justify-content: center;
  }

  .demo__headline {
    font-weight: 400;
    max-width: 350px;
    margin-top: -40%;
    padding-bottom: 25%;
    font-size: 36px;
    line-height: 52px;
  }

  .feature__list {
    margin: 50px 0;
  }

  .form {
    width: 56%;
    padding: 70px 83px 93px;
  }

  .form__headline {
    font-size: 38px;
    line-height: 47px;
  }

  .footer__list {
    width: 100%;
  }

  .footer__item {
    margin-right: 35px;
  }

  .social__list {
    padding-left: 0;
  }

  .social__link {
    margin-right: 10px;
  }

  .logo__letters {
    padding: 15px 15px 15px 0;
  }
}

@media (min-width: 768px) /*Large devices (desktops, 992px and up)*/ {

  .container {
    max-width: 980px;
  }
}

@media (min-width: 992px) /* Large devices (desktops, 992px and up)*/ {

  .container {
    max-width: 1150px;
    width: 100%;
  }


  /*.container-wrapper {*/
  /*  width: 90%;*/
  /*  margin: 0 auto;*/
  /*}*/

  .logo__letters {
    padding: 18px 15px;
    font-size: 20px;
  }

  .logo__description {
    margin-left: 21px;
    font-size: 22px;
  }

  .nav {
    margin-left: 50px;
  }

  .menu__btn {
    display: none;
  }

  .nav__item {
    margin-right: 58px;
  }

  .btn {
    padding: 16px 66px;
    border-radius: 10px;
  }

  .top__headline {
    width: 70%;
    padding: 188px 0 30px;
    font-size: 56px;
    line-height: 56px;
  }

  .under-headline {
    font-size: 18px;
    line-height: 27px;
  }

  .top__under-headline {
    padding-bottom: 30px;
    max-width: 751px;
    font-size: 18px;
    line-height: 27px;
  }

  .top__btn {
    margin-bottom: 120px;
  }

  .section {
    margin: 100px auto;
    text-align: center;
  }

  .service__list {
    margin-top: 100px;
    padding: 0;
  }

  .service__item {
    padding: 20px;
    max-width: 190px;
  }

  .section-headline {
    font-size: 26px;
    line-height: 39px;
  }

  .service__under-headline {
    max-width: 746px;
    line-height: 40px;
  }

  .demo__headline {
    margin-top: -55%;
    padding-bottom: 44%;
    max-width: 550px;
    font-size: 48px;
    line-height: 62px;
    font-family: "PT Serif", serif;
    font-weight: 400;
  }

  .feature__list {
    margin: 100px auto;
  }

  .feature__item {
    max-width: 442px;
    border: 1px solid #9D9D9D;
    border-radius: 10px;
  }

  .form__headline {
    font-size: 48px;
    line-height: 67px;
  }

  .form {
    padding: 5% 10%;
    border: 1px solid #9595C9;
    border-radius: 10px;
    box-shadow: 10px 15px 15px #C8C8C8;
  }

  .footer {
    margin-top: 140px;
  }
}


@media (min-width: 1200px)/*Extra large devices (large desktops, 1200px and up)*/ {

  .container {
    max-width: 1600px;
  }
}
