.container {
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.top-section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
}

.top-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.container-wrapper {
  max-width: 973px;
  margin: 0 auto;
}

.header {
  position: relative;
  top: 44px;
  background: rgba(196, 196, 196, .1);
}

.logo__letters {
  background-color: #C8C8C8;
  border-radius: 50%;
  font-family: "Russo One", sans-serif;
  color: #FFF;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, .25);
}

.logo__description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.nav {
  margin-left: 200px;
}

/* style for navigation */

.menu__toggle {
  opacity: 0;
}

.menu__btn {
  margin: 16px;
  display: flex;
  align-items: center;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #616161;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.nav__link {
  font-size: 18px;
  margin: 0 5px 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #717784;
  text-decoration: none;
}

.list {
  list-style: none;
}

.btn {
  color: #FFF;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  background: #9B9BCA;
  border: 1px solid #9B9BCA;
  cursor: pointer;
}

.btn:hover {
  background-color: #F01F35;
  border: 1px solid #F01F35;
}

.top__headline {
  margin: 0;
  max-width: 548px;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  color: #696A86;
}

.under-headline {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.top__under-headline {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0;
  color: #696A86;
}

.section {
  color: #626780;
  text-align: center;
}

.section-headline {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #626780;
}

.under-headline {
  margin: 0 auto;
  font-weight: 400;
}

.service__item {
  margin: 0 auto;
  text-align: center;
  color: #626780;
  font-family: "Poppins", sans-serif;
}

.service__icon {
  width: 65px;
  height: 65px;
  fill: #9D9D9D;
}

.service__item__headline {
  margin: 0 auto;
  font-weight: 600;
  padding: 21px 0 12px;
  font-size: 22px;
  line-height: 40px;
}

.service__item__text {
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.feature-section {
  font-family: "Poppins", sans-serif;
}

.feature__img {
  margin-top: 10px;
  width: 339px;
  height: 149px;
  border-radius: 10px;
}

.feature__item__headline {
  margin: 53px 0 22px;
  font-weight: 500;
  color: #000;
  font-size: 26px;
  line-height: 26px;
}

.feature__item__text {
  max-width: 339px;
  margin-bottom: 65px;
  font-weight: 400;
  color: #626780;
  font-size: 18px;
  line-height: 30px;
}

.feature__item {
  padding: 50px 50px 0;
  margin-bottom: 50px;
  margin-left: 15px;
  border: 1px solid #D2D2D2;
  border-radius: 10px;
  box-shadow: 10px 15px 15px #C8C8C8;
}

.feature__btn {
  position: relative;
  top: 25px;
}

.form__headline {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 67px;
  text-align: center;
}

.form {
  margin: 0 auto;
  width: 36%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: #626780;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
}

.label {
  padding: 2%;
  color: #626780;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
}

.input {
  padding: 2%;
  width: 100%;
  color: #626780;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  border: 1px solid #9595C9;
  border-radius: 10px;
}

.form-text {
  margin: 30px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
  color: #626780;
}

.form__link {
  color: #F01F35;
  text-decoration: none;
}

.footer {
  background-color: #9B9BCA;
  color: #FFF;
}

.footer__list {
  margin: 50px auto 77px;
}

.footer__item {
  margin-right: 100px;
  max-width: 177px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
}

.footer__headline {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.footer-bottom {
  width: 75%;
  margin: 77px auto 0;
  padding-bottom: 44px;
  font-family: "Roboto", sans-serif;
}

.footer-text {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}

.social__list {
  padding-left: 35%;
  display: flex;
}

.social__link {
  margin-right: 32px;
}

.social-icon {
  width: 36px;
  height: 36px;
}

.footer__logo {
  margin: 16px 0;
}

.footer__logo__letters {
  background: transparent;
  padding: 8px;
}

.footer__logo__description {
  margin: 0;
}

