img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 350px;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}


.container-hero {
  margin: 0 auto;
}

.hero-section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

/*Header*/

.header {
  padding: 5px 0;
  position: relative;
  justify-content: space-between;
  background: rgba(196, 196, 196, .1);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.logo {
  padding: 12px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  align-items: center;
}

.logo-letters {
  position: relative;
  top: 5px;
}

.header__logo-description {
  display: none;
}

/*Navigation*/

.nav {
  margin-left: 215px;
}

.nav__list {
  display: none;
}

.menu__toggle {
  opacity: 0;
}

.menu__btn {
  margin: 10px 0;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  background-color: #C8C8C8;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  border-radius: 15px;
  transition: background-color 1s;
}

.menu__btn:hover,
.menu__btn:focus {
  background-color: #F01F35;
}

.nav__link {
  font-size: 18px;
  margin: 0 5px 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #717784;
  text-decoration: none;
  transition: color 1s;
}

.nav__link:hover,
.nav__link:focus {
  color: #F01F35;
}

.list {
  list-style: none;
}

.nav__list {
  display: none;
}

.menu__toggle:checked ~ .nav__list {
  padding: 15px;
  position: fixed;
  width: 100%;
  left: 0;
  top: 65px;
  display: flex;
  background-color: #FFF;
}

.menu__toggle:checked ~ .nav__link {
  position: fixed;
  left: 0;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #717784;
  text-decoration: none;
}

.btn {
  color: #FFF;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  background: #9B9BCA;
  border: 1px solid #9B9BCA;
  cursor: pointer;
  transition: background-color 1s;
}

.btn:hover,
.btn:focus {
  background-color: #F01F35;
  border: 1px solid #F01F35;
}

/*Hero section*/

.hero-section-wrapper {
  position: relative;
  margin: 0 auto;
}

.hero-section__picture {
  position: absolute;
  margin: 0 auto;
}

.hero-section__headline {
  margin: 0;
  padding: 0 10px;
  max-width: 548px;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 18px;
  color: #696A86;
}

.hero-section__text {
  display: none;
}

.hero-section__btn {
  margin: 20px 5px;
}

.section {
  color: #626780;
  text-align: center;
}

.section-headline {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #626780;
}

.under-headline {
  margin: 0 auto;
  font-weight: 400;
}

.service__item {
  margin: 0 auto;
  text-align: center;
  color: #626780;
  font-family: "Poppins", sans-serif;
}

.service__icon {
  width: 65px;
  height: 65px;
  fill: #9D9D9D;
}

.service__item__headline {
  margin: 0 auto;
  font-weight: 600;
  padding: 21px 0 12px;
  font-size: 22px;
  line-height: 40px;
}

.service__item__text {
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.feature-section {
  font-family: "Poppins", sans-serif;
}

.feature__img {
  margin-top: 10px;
  width: 339px;
  height: 149px;
  border-radius: 10px;
}

.feature__item__headline {
  margin: 53px 0 22px;
  font-weight: 500;
  color: #000;
  font-size: 26px;
  line-height: 26px;
}

.feature__item__text {
  max-width: 339px;
  margin-bottom: 65px;
  font-weight: 400;
  color: #626780;
  font-size: 18px;
  line-height: 30px;
}

.feature__item {
  padding: 50px 50px 0;
  margin-bottom: 50px;
  margin-left: 15px;
  border: 1px solid #D2D2D2;
  border-radius: 10px;
  box-shadow: 10px 15px 15px #C8C8C8;
}

.feature__btn {
  position: relative;
  top: 25px;
}

.form__headline {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 67px;
  text-align: center;
}

.form {
  margin: 0 auto;
  width: 36%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: #626780;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
}

.label {
  padding: 2%;
  color: #626780;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
}

.input {
  padding: 2%;
  width: 100%;
  color: #626780;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  border: 1px solid #9595C9;
  border-radius: 10px;
}

.form-text {
  margin: 30px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
  color: #626780;
}

.form__link {
  color: #F01F35;
  text-decoration: none;
}

.footer {
  background-color: #9B9BCA;
  color: #FFF;
}

.footer__list {
  margin: 50px auto 77px;
  align-items: baseline;
}

.footer__item {
  margin-right: 100px;
  max-width: 177px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
}

.footer__headline {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  transition: color 1s;
}

.footer__link:hover,
.footer__link:focus {
  color: #F01F35;
}

.footer-bottom {
  width: 75%;
  margin: 77px auto 0;
  padding-bottom: 44px;
  font-family: "Roboto", sans-serif;
}

.footer-text {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}

.social__list {
  padding-left: 35%;
  display: flex;
}

.social__link {
  margin-right: 32px;
}

.social-icon {
  width: 36px;
  height: 36px;
}

.footer__logo {
  margin: 16px 0;
}

.footer__logo__letters {
  background: transparent;
  padding: 8px;
}

.footer__logo__description {
  margin: 0;
}

/*Малые девайсы («ландшафтные телефоны», >= 576px)*/
@media (min-width: 576px) {


  .logo__letters {
    padding: 12px;
    font-size: 16px;
  }

  .header__logo-description {
    padding-left: 91px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }

  .logo__description {
    margin-left: 15px;
    font-size: 18px;
  }


  .btn {
    padding: 10px 35px;
    font-size: 16px;
    border-radius: 5px;
    /*border: 1px solid #9B9BCA;*/
  }

  .hero-section {
    margin-top: 0;
  }

  .hero-section__headline {
    padding: 150px 0 20px;
    font-size: 36px;
    line-height: 36px;
  }

  .hero-section__text {
    display: none;
    /*font-size: 18px;*/
    /*line-height: 27px;*/
    /*max-width: 250px;*/
  }

  .hero-section__text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 0;
    color: #696A86;
  }

  .under-headline {
    font-size: 18px;
    line-height: 27px;
    max-width: 250px;
  }

  .hero-section__text {
    padding-bottom: 20px;
  }

  .hero-section__btn {
    margin: 28px 0 0;
  }

  .section {
    margin: 50px auto;
    text-align: center;
  }

  .service__under-headline {
    line-height: 30px;
  }

  .service__list {
    padding: 0;
  }

  .service__item {
    padding: 10px;
    margin: 0 5px 15px;
    max-width: 145px;
  }

  .service__item__headline {
    font-weight: 500;
    padding: 18px;
    font-size: 22px;
    line-height: 27px;
  }

  .service__item__text {
    font-size: 14px;
    line-height: 18px;
  }

  .demo__headline {
    font-weight: 400;
    max-width: 250px;
    padding: 0 0 20%;
    font-size: 26px;
    line-height: 32px;
  }

  .feature__list {
    margin: 30px 0;
  }

  .form {
    width: 76%;
  }

  .form__headline {
    font-size: 38px;
    line-height: 47px;
  }

  .footer__item {
    margin-right: 40px;
  }

  .social__list {
    padding-left: 0;
  }
}

/*Средние девайсы («таблетки», >= 768px)*/
@media (min-width: 768px) {

  .hero-section-wrapper {
    padding: 0;
    max-width: 1024px;
  }

  .container {
    max-width: 700px;
  }

  .logo__letters {
    padding: 15px;
    font-size: 18px;
  }

  .logo__description {
    margin-left: 18px;
    font-size: 20px;
  }


  .btn {
    padding: 15px 50px;
    font-size: 18px;
    border-radius: 8px;
  }

  .hero-section {
    margin-top: 0;
  }

  .hero-section__headline {
    padding: 5% 0 20px;
    font-size: 26px;
    line-height: 36px;
  }

  .under-headline {
    max-width: 400px;
    font-size: 18px;
    line-height: 27px;
  }

  .hero-section__text {
   display: none;
  }

  .hero-section__btn {
    margin-bottom: 70px;
  }

  .section {
    margin: 70px auto;
    text-align: center;
  }

  .service__item {
    padding: 15px;
    margin-right: 10px;
    max-width: 250px;
  }

  .service__under-headline {
    line-height: 35px;
  }

  .list {
    justify-content: center;
  }

  .demo__headline {
    font-weight: 400;
    max-width: 350px;
    margin-top: -40%;
    padding-bottom: 25%;
    font-size: 36px;
    line-height: 52px;
  }

  .feature__list {
    margin: 50px 0;
  }

  .form {
    width: 56%;
    padding: 70px 83px 93px;
  }

  .form__headline {
    font-size: 38px;
    line-height: 47px;
  }

  .footer__list {
    width: 100%;
  }

  .footer__item {
    margin-right: 35px;
  }

  .social__list {
    padding-left: 0;
  }

  .social__link {
    margin-right: 10px;
  }

  .logo__letters {
    padding: 15px 15px 15px 0;
  }
}

/*Большие девайсы (десктопы, >= 992px)*/
@media (min-width: 992px) {

  .container {
    max-width: 1600px;
    width: 100%;
  }

  .container-wrapper {
    width: 70%;
    margin: 0 auto;
  }

  .logo__letters {
    padding: 18px 15px;
    font-size: 20px;
  }

  .header__logo-description {
    display: inline;
    font-size: 22px;
  }

  .nav {
    margin-left: 50px;
  }

  .nav__list {
    display: flex;
  }

  .menu__btn {
    display: none;
  }

  .nav__item {
    margin-right: 58px;
  }

  .btn {
    padding: 16px 66px;
    border-radius: 10px;
  }

  .hero-section__headline {
    width: 70%;
    padding: 188px 0 30px;
    font-size: 56px;
    line-height: 56px;
  }

  .under-headline {
    font-size: 18px;
    line-height: 27px;
  }

  .hero-section__text {
    padding-bottom: 30px;
    max-width: 751px;
    font-size: 18px;
    line-height: 27px;
  }

  .hero-section__btn {
    margin-bottom: 120px;
  }

  .section {
    margin: 100px auto;
    text-align: center;
  }

  .service__list {
    margin-top: 100px;
    padding: 0;
  }

  .service__item {
    padding: 20px;
    max-width: 190px;
  }

  .section-headline {
    font-size: 26px;
    line-height: 39px;
  }

  .service__under-headline {
    max-width: 746px;
    line-height: 40px;
  }

  .demo__headline {
    margin-top: -55%;
    padding-bottom: 44%;
    max-width: 550px;
    font-size: 48px;
    line-height: 62px;
    font-family: "PT Serif", serif;
    font-weight: 400;
  }

  .feature__list {
    margin: 100px auto;
  }

  .feature__item {
    max-width: 442px;
    border: 1px solid #9D9D9D;
    border-radius: 10px;
  }

  .form__headline {
    font-size: 48px;
    line-height: 67px;
  }

  .form {
    padding: 5% 10%;
    border: 1px solid #9595C9;
    border-radius: 10px;
    box-shadow: 10px 15px 15px #C8C8C8;
  }

  .footer {
    margin-top: 140px;
  }
}

/*Экстрабольшие девайсы (большие десктопы, >= 1200px)*/
@media (min-width: 1200px) {


}
