<ul class="footer__menu">
  <li class="menu__item">FAQ</li>
  <li class="menu__item">Patreon</li>
  <li class="menu__item">Refunds</li>
  <li class="menu__item">Contact Us</li>
</ul>
<ul class="footer__menu">
  <li class="menu__item">Customer Support</li>
  <li class="menu__item">Legal</li>
  <li class="menu__item">About Us</li>
  <li class="menu__item">Our Story</li>
</ul>
<ul class="footer__menu">
  <li class="menu__item">+380-21-286-4392</li>
  <li class="menu__item">info@shvets</li>
  <li class="menu__item">Located in Cherkassy</li>
  <li class="menu__item">18000</li>
</ul>
<ul class="footer__menu">
  <li class="menu__item"><i class="fab fa-twitter-square"></i></li>
  <li class="menu__item"><i class="fab fa-facebook-square"></i></li>
  <li class="menu__item"><i class="fab fa-telegram-plane"></i></li>
  <li class="menu__item"><i class="fab fa-whatsapp"></i></li>
</ul>