.container {
  max-width: 600px;
  margin: 0 auto;
  height: 60vh;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  border: 1px solid #000;
  padding: 25px;
}

.date-header {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.input-date {
  margin: 20px 0;
  padding: 5px 10px;
}

.date-wrapper {
  max-width: 50%;
}

.btn {
  padding: 10px 20px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  border: 1px solid #2D333A;
  border-radius: 2px;
}

.btn:hover {
  background: #0084FF;
  color: #F0F8FF;
  border: 1px solid #0084FF;
  transition: .5s;
}

.result {
  margin: 0;
  padding: 15px 0;
  font-family: "Source Sans Pro", sans-serif;
}

.result-friday::before {
  content: "[";
}

.result-friday::after {
  content: "]";
}
