<div class="container">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="box-form">

    <div class="form-group">
      <label for="email" class="form-group__title">Email:</label>
      <input type="email" class="form-control" formControlName="email" placeholder="email">
      <span class="error"
        *ngIf="(registerFormControl.email.touched) && registerFormControl.email.errors?.required">
        Email is required
      </span>
      <span class="error" *ngIf="registerFormControl.email.touched && registerFormControl.email.errors?.email">
        Enter a valid email address
      </span>
    </div>

    <div class="form-group">
      <label class="form-group__title">Password:</label>
      <input type="password" class="form-control" formControlName="password" placeholder="password">
      <span class="error"
        *ngIf="(registerFormControl.password.touched) && registerFormControl.password.errors?.required">
        Password is required
      </span>
    </div>

    <div class="form-checkbox">
      <input class="check" type="checkbox" id="check" name="check" formControlName="checkbox">
      <label class="check" for="check">remember me</label>
    </div>

    <button class="btn" [disabled]="profileForm.invalid" type="submit">submit</button>
  </form>
</div>

<router-outlet></router-outlet>
