body {
  background-color: #272935;
}

.chat-info {
  width: 100%;
  height: 100px;
  color: #ffffff;
  border-bottom: 1px solid #cccccc;
}

.photo-interlocutor {
  display: flex;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
}

.info-interlocutor {
  display: flex;
  flex-direction: column;
}

.interlocutor {
  display: flex;
  justify-content: space-between;
  width: 210px;
}

.chat {
  width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding: 10px;
  background-color: #282a30;
}

.form-control {
  width: 900px;
  height: 50px;
  padding: 10px;
  background-color: #464852;
  color: #ffffff;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 16px;
}

.btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid transparent;
  color: #ffffff;
  background: #5a5c65;
  outline: none;
}

.send-button {
  background: #35995d;
}

.chat-footer {
  position: fixed;
  bottom: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
}

.messages {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.messages div {
  margin: 10px 0;
  border-radius: 5px;
  padding: 10px 20px;
  color: #ffffff;
  background-color: #2f5246;
  font-family: Nunito, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}
