.date-info {
  width: 180px;
}

.buttons {
  margin-top: 40px;
}

.style-btn {
  width: 180px;
  height: 40px;
  border-radius: 5px;
  -webkit-box-shadow: 6px 6px 19px -2px rgba(0, 0, 0,.94);
  -moz-box-shadow: 6px 6px 19px -2px rgba(0,0,0,.94);
  box-shadow: 6px 6px 19px -2px rgba(0, 0, 0,.94);
}

p {
  padding: 20px;
}
