body {
  background: #000;
  display: flex;
  justify-content: center;
  margin: 0;
}

.sticky-header, .header {
  position: fixed;
  background: #FFF;
  width: 300px;
  box-sizing: border-box;
  transition: top .7s ease-out;
  height: 70px;
  display: flex;
  align-items: center;
  font-size: 30px;
}

.header {
  top: 0;
}


.sticky-header {
  top: -70px;
}

.container {
  background: #FFF;
  width: 300px;
  padding: 0 10px;
}

