body {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 600px;
    padding: 0 20px;
    height: 100vh; 
}
.container{
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    bottom: 1px;
}
.chat {
    font-size: 24px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.chat-messanger {
    display: flex;
    border-color: #ccc;
    background-color: #ddd;
}
.list-container {
    overflow: auto;
    height: 500px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}
.chat-list {
    min-height: 100%;    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;  
}

.input {
    width: 100%;
    padding: 5px;
    margin-right: 10px;
    height: 20px;
    border: 1px solid black;
    border-radius: 10px;
}
.send-messages {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 5px 0;
    width: 120px;
    border: 1px solid black;
    border-radius: 10px;
}
.msg {
    padding: 10px 20px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 15px;
}