.body-page {
  margin: 10px auto;
  width: 470px;
}

.title-message {
  margin: 0;
  padding-bottom: .3em;
  padding-right: 20px;
  font-size: 1.1em;
}

.message {
  margin: 0;
  padding: 0 0 .5em;
}

.loading-window {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif;
  font-size: 32px;
  text-align: center;
  color: #000;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.container {
  padding: 10px 20px;
  border: solid 2px #C4DF9B;
  margin-top: 10px;
  height: 720px;
  overflow: auto;
}

.filter, .sort {
  border: solid 2px #C4DF9B;
  width: 150px;
}

.sort {
  float: right;
}

.pane {
  background: #EDF5E1;
  padding: 10px 20px;
  border: solid 2px #C4DF9B;
  position: relative;
  margin-top: 10px;
}

.hidden-pane {
  visibility: hidden;
}

.remove-button {
  position: absolute;
  font-size: 110%;
  top: 0;
  color: #8B0000;
  right: 10px;
  display: block;
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
  cursor: pointer;
}
