.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgb(224, 224, 224);
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: rgb(51, 122, 183);
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {

  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0,3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.selector {
  float: right;
}

.newElement {
  background-color: rgb(247, 246, 246);
  border: 1px solid rgb(0, 0, 0);
  padding: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

.blockForPosts {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  width: 600px;
  height: 550px;
  padding: 20px;
  background-color: rgb(150, 57, 0);
  color: rgb(0, 0, 0);
  margin-left: 33%;
}

.display {
  background-color: rgb(88, 32, 0);
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
  list-style-type: none;
  height: 500px;
  overflow-y: scroll;
}

.title {
  display: block;
  width: 200px;
}

body {
  background-color: rgb(128, 128, 128);
}
