.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2rem
}

.active {
  border: 3px rgb(245, 75, 98) solid;
}

.imageItem {
  margin: auto;
}

.largeImage {
  text-align: center;
  margin-top: 20px;
}