.date-container {
  width: 900px;
  min-height: 800px;
  margin: 0 auto;
  padding: 100px 20px;
  border: 1px solid #CAC;
}

.date-container div {
  margin-bottom: 50px;
}

.date-field {
  width: 200px;
  font-size: 18px;
  border-radius: 5px;
}

.btn {
  width: 300px;
  font: 400 16px/50px sans-serif;
  border: 1px solid #CCC;
  border-radius: 10px;
  box-shadow: 4px 4px 4px;
  cursor: pointer;
  outline: none;
}