.form__container {
  max-width: 600px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: space-between;
  border: 1px solid rgb(115, 23, 207);
  padding: 100px 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.form__input {
  margin-bottom: 20px;
}

.input__item {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(21, 15, 121);
  border-radius: 4px;
}

.input__validation {
  color: rgb(139, 39, 64);
}

.button__submit {
  padding: 5px 10px;
  width: 50%;
  color: rgb(21, 15, 121);
  text-transform: uppercase;
  border: 1px solid rgb(21, 15, 121);
  border-radius: 4px;
  font-size: 18px;
  box-shadow: rgb(21, 15, 121) 2px 2px 8px 2px;
}