.table-title {
  padding: 15px;
  color: #43526D;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
}

.table-header {
  background: #8622B1;
  color: #FFF;
  font-size: 1.3rem;
}

.table {
  margin: 15px auto;
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 1.2rem;
}

td, .table-header {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(250, 250, 250);
}
