.gallery-wrapper__button {
  font-size: 18px;
  padding: 5px 20px;
  height: 36px;
  align-self: center;
}

@media (max-width: 768px) {

  .gallery-wrapper__button {
    font-size: 16px;
    padding: 5px 18px;
    height: 32px;
  }
}

@media (max-width: 548px) {

  .gallery-wrapper__button {
    font-size: 12px;
    padding: 5px 10px;
    height: 26px;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  align-items: center;
  justify-items: center;
  padding: 0;
  margin: 0 0 20px;
  row-gap: 10px;
  grid-row: 1 / 2;
  grid-column: 1 / 4;
}

.gallery__item {
  width: 116px;
  height: 116px;
  border: 1px solid #444;
  list-style-type: none;
}

@media (max-width: 768px) {

  .gallery__item {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 648px) {

  .gallery__item {
    width: 86px;
    height: 86px;
  }
}

@media (max-width: 548px) {

  .gallery__item {
    width: 90px;
    height: 90px;
  }
}

@media (max-width: 530px) {

  .gallery__item {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 420px) {

  .gallery__item {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 370px) {

  .gallery__item {
    width: 50px;
    height: 50px;
  }
}

.gallery__item:hover {
  cursor: pointer;
}

.gallery__item--active {
  outline: 3px solid #F00;
  outline-offset: -3px;
}

.image-full-box {
  display: grid;
  grid-row: 3 / 4;
}

.gallery-wrapper {
  display: grid;
  grid-template: 1fr auto .8fr / 100px 1fr 100px;
}


@media (max-width: 768px) {

  .gallery-wrapper {
    grid-template: 1fr auto .6fr / 80px 1fr 80px;
  }
}

@media (max-width: 530px) {

  .gallery-wrapper {
    grid-template: 1fr auto .4fr / 50px 1fr 50px;
  }
}

.gallery-wrapper__button--left {
  display: grid;
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  justify-self: start;
}

.gallery-wrapper__button--right {
  display: grid;
  grid-row: 3 / 4;
  grid-column: 3 / 4;
  justify-self: end;
}

.gallery__title {
  grid-row: 2 / 3;
  grid-column: 1/ 4;
  text-align: center;
  font-size: 30px;
}

@media (max-width: 530px) {

  .gallery__title {
    font-size: 24px;
  }
}
