<div class="gallery-wrapper">
    <button class="container__button" (click)="decreaseNumberOfCurrentItem()">Prev</button>
    <ul class="gallery">
      <li class="gallery__item"
          *ngFor="let imageItem of dataImages; index as i"
          [class.gallery__item--active]="checkNumberOfCurrentItem(i)"
          (click)="onSelect(i)">
        <app-image [currentImage]="imageItem"></app-image>
      </li>
    </ul>
    <button class="container__button" (click)="increaseNumberOfCurrentItem()">Next</button>
    <app-image-details class="image-full-box" [numberOfCurrentItem]="numberOfCurrentItem"></app-image-details>
</div>
