.title {
  margin: 8px 0;
}

.container {
  background: #545258;
  position: relative;
  display: grid;
  max-width: 1024px;
  margin: 0 auto;
  grid-template-rows: 40px auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px;
  align-items: center;
  justify-items: center;
}

.content-container {
  padding: 10px 40px;
  min-height: 600px;
}

.item-container {
  margin: 10px 0;
  border: 2px solid #5C5754;
  border-radius: 5px;
  background-color: #6A6A69;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 30px 60px;
  padding: 15px;
  color: #FFFF;
}

.grid-item1 {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 3;
}

.grid-item2 {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: flex-end;
}

.grid-item3 {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
}

.img {
  height: 23px;
}

.img:hover {
  cursor: pointer;
}

.btn-sort {
  background: #989494;
  color: #FFFF;
  position: relative;
  min-width: 90px;
  padding: 4px;
  font-weight: 600;
}

.btn-sort:hover {
  cursor: pointer;
  background: #FFFF;
  color: #989494;
}

.sort-content {
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 2;
}

.sort-content__item {
  background: #989494;
  color: #FFFF;
  min-width: 90px;
  padding: 4px;
  font-weight: 400;
}

.sort-content__item:hover {
  cursor: pointer;
  background: #FFFF;
  color: #989494;
}

.sort-content__item-active {
  cursor: pointer;
  background: #FFFF;
  color: #989494;
}

.lds-ring {
  position: sticky;
  top: 30%;
  left: 50% - 100px;
  color: #FFFF;
  font-size: 20px;
  margin: 100px auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
