@import url("https://fonts.googleapis.com/css?family=Roboto");

@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css?family=Roboto");
  font-weight: 400;
  font-display: swap;
}

.container {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

.horizontal-line {
  margin: .5rem 0;
}

.loader {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  color: #F00;
}

.vehicle-post {
  padding: 1rem;
  border: #CCC 1px dotted;
  margin: .7rem 0;
}

.post-list {
  list-style: none;
}

.vehicle-link {
  text-decoration: none;
}

.vehicle-link:hover {
  color: #666;
}
