<section class="container">
  <div class="form-container">
    <h2>Sign In</h2>
    <form class="form" [formGroup]="signInControl" (ngSubmit)="onSubmit()">
      <label class="input-wrapper">
        Email:
        <input
          class="input"
          placeholder="Email"
          type="email"
          formControlName="loginControl"
        />
      </label>
      <label class="input-wrapper">
        Password:
        <input
          class="input"
          placeholder="Password"
          type="password"
          formControlName="passwordControl"
        />
      </label>
      <label class="input-wrapper row">
        Remember Me:
        <input
          class="input checkbox-input"
          type="checkbox"
          formControlName="rememberControl"
        />
      </label>
      <button type="submit" [disabled]="!signInControl.valid">Submit</button>
    </form>
  </div>
</section>
