.container {
  max-width: 960px;
  margin: 0 auto;
  border: 4px solid #000;
  padding: 10px;
}

.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.group {
  margin: 20px 0;
}

h3 {
  margin-bottom: 0;
  text-align: center;
}

span {
  color: #F00;
}

.dateInput, .dropdownTimezone {
  width: 150px;
}

.dropdownTimezone {
  height: 25px;
  padding-inline-start: 5px;
  margin-left: auto;
}

.right .group {
  margin-left: auto;
  text-align: right;
}

.time {
  height: 30px;
  margin: 0;
}
