.wrapper {
  width: 400px;
  height: 400px;
  margin: 50px auto;
  font-size: 30px;
}

.cube {
  width: 150px;
  height: 150px;
  background-color: rgb(226, 79, 79);
  margin-bottom: 50px;
}

.key {
  width: 150px;
  height: 150px;
  background-color: rgb(139, 145, 230);
  font-size: 50px;
  text-align: center;
  line-height: 150px;
}

.cube-score {
  width: 150px;
  height: 50px;
  position: absolute;
  left: 150px;
  top: 100px;
  text-align: center;
}

.score {
  width: 150px;
  height: 50px;
  text-align: center;
}