.wall {
  border: 2px solid #DEDEDE;
  background-color: #F1F1F1;
  border-radius: 5px;
  padding: 5px;
  width: 1080px;
  height: 360px;
  overflow: auto;
}

.message-body {
  border-radius: 5px;
  border: 2px solid #CCC;
  background-color: #DDD;
  margin: 5px 0;
}

.form-input {
  border-radius: 5px;
  border: 2px solid #CCC;
  background-color: #DDD;
}

.hidden-status {
  visibility: hidden;
}