html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(51, 51, 51);
}

.wrapper {
  margin: 0 auto;
  padding: 50px 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 65%;
}

.form {
  width: 100%;
  margin-bottom: 8px;
  flex-direction: row;
}

.input {
  width: 70%;
  font-size: 13px;
  padding: 10px 0 10px 10px;
  border: 1px solid #CECECE;
  background: #F6F6F6;
  border-radius: 8px;
}

.button {
  cursor: pointer;
  border: 1px solid #CECECE;
  background: #F6F6F6;
  box-shadow: inset 0 20px 20px #FFF;
  border-radius: 8px;
  padding: 8px 14px;
  width: 25%;
}

.button:hover {
  box-shadow: inset 0 -20px 20px #FFF;
}

.button:active {
  margin-top: 1px;
  margin-bottom: -1px;
  transform: scale(1)
}

.chat {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow-y: auto;
}

.message {
  background: #F6F6F62A;
  box-shadow: -3px 3px 3px #FFF;
  border-radius: 8px;
  padding: 10px 20px;
  margin-bottom: 15px;
  font-family: "Times New Roman", Times, serif;
}

.typing {
  font-style: italic;
  font-size: 18px;
}
