.wrapper {
  width: 60%;
  margin: 5% auto;
}

.wrapper .list {
  width: 100%;
  border-collapse: separate;
  margin-bottom: 20px;
}

.wrapper .list td, th {
  padding: 10px;
  text-align: center;
  pointer-events: none;
}

.wrapper .list tr:nth-child(odd) {
  background: #D4D4D4;
}

.wrapper .list tr:nth-child(even) {
  background: #E6E4E4;
}

.red {
  color: hsl(0, 100%, 50%);
  font-weight: 600;
}

.transport {
  cursor: pointer;
}
