@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");

.lnk {
  text-decoration: none;
  color: #717784;
}

.btn {
  font-weight: 600;
  font-size: 18px;
  padding: 15px 64px;
  color: #FFF;
  background-color: #9B9BCA;
  border-radius: 4px;
  border: none;
}

.btn--red {
  background-color: #F01F35;
}

h1, p {
  padding: 0;
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template: 737px 1fr 373px / 1fr;
  margin: 0 auto;
  max-width: 1600px;
  min-height: 100%;
  font-family: "Poppins", sans-serif;
  color: #717784;
}

.header {
  display: grid;
  grid-template: 1fr / .5fr 1100px .5fr;
  background: no-repeat center 100% url("../src/img/Rectangle 2.jpg");
  column-gap: 10px;
}

.header__wrapper {
  display: grid;
  grid-template: 116px 1fr / 80px 130px 1fr 240px;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.header__small-box,
.header__big-box {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  grid-template-columns: inherit;
  column-gap: inherit;
}

.header__small-box {
  grid-row: 1 / 2;
  grid-column: 1 / 5;
}

.header__big-box {
  grid-row: 2 / 3;
  grid-column: 1 / 5;
  row-gap: 15px;
  grid-template-rows: 1.3fr .7fr .3fr .7fr 1fr;
}

.header__tagline,
.header__description,
.header__button--second {
  justify-self: start;
}

.header__tagline,
.header__description {
  padding: 0;
  margin: 0;
}

.header__tagline {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 56px;
  grid-column: 1 / 5;
  grid-row: 2 / 3;
  line-height: 1;
}

.header__description {
  grid-column: 1 / 5;
  grid-row: 3 / 4;
}

.header__button--second {
  grid-column: 1 / 5;
  grid-row: 4 / 5;
}

.header-logo {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-self: start;
  width: 72px;
  height: 72px;
  border-radius: 72px;
  background-color: #C8C8C8;
}

.header-logo__text {
  font-size: 20px;
  color: #FFF;
  font-family: "Rammetto One", cursive;
  text-shadow: 0 0 10px #5C5C5C;
}

.header__site-name {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  justify-self: start;
}

.header-navigation {
  display: grid;
  grid-template: 1fr / repeat(4, minmax(100px, 25%)) ;
  justify-self: end;
}

.header-navigation__link {
  white-space: nowrap;
}

.header__button {
  justify-self: end;
}

.main {
  display: grid;
  grid-template: repeat(7, auto) / 1fr;
  row-gap: 100px;
}

.great-service {
  display: grid;
  grid-template: .6fr .4fr / 1fr;
  gap: 20px;
  grid-row: 2 / 3;
  justify-items: center;
  text-align: center;
}

.great-service__title {
  grid-auto-flow: row;
}

.great-service__text {
  grid-auto-flow: row;
}

.services-wrapper {
  grid-row: 3 / 4;
  grid-template: 1fr / .5fr 1100px .5fr;
}

.services {
  display: grid;
  grid-column: 2 / 3;
  padding: 0;
  margin: 0;
  list-style: none;
  grid-template: 1fr / repeat(4,.25fr);
  justify-items: center;
  align-items: center;
  column-gap: 10px;
}

.services__item {
  display: inline-grid;
  width: 256px;
  height: 256px;
  grid-template: .4fr .2fr .4fr / 1fr;
  justify-items: center;
  text-align: center;
  row-gap: 10px;
}

.services__icon {
  display: inline-grid;
  align-self: end;
}

.services__title {
  display: inline-grid;
  align-self: center;
  font-size: 22px;
}

.services__description {
  display: inline-grid;
  align-self: start;
  font-size: 16px;
}

.our-demo {
  display: grid;
  grid-row: 4 / 5;
  grid-template: repeat(10, 1fr) / .5fr 1100px .5fr;
  background: no-repeat center 100% url("../src/img/Rectangle 7.jpg");
  min-height: 780px;
  column-gap: 10px;
}

.our-demo__title {
  grid-column: 2 / 3;
  grid-row: 3 / 5;
  font-family: "DM Serif Display", serif;
  font-weight: 200;
  color: #000;
  line-height: 2em;
}

.best-feature {
  display: grid;
  grid-template: auto auto 50px auto / .5fr 1100px .5fr;
  justify-items: center;
  text-align: center;
  grid-row: 5 / 6;
  gap: 20px 10px;
}

.best-feature__title,
.best-feature__text,
.best-feature-cards {
  grid-column: 2 / 3;
}

.best-feature__title {
  grid-row: 1 / 2;
}

.best-feature__text {
  grid-row: 2 / 3;
}

.best-feature-cards {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  display: grid;
  grid-template: 1fr / repeat(2, 1fr);
  justify-content: center;
  column-gap: 90px;
  grid-row: 4 / 5;
}

.best-feature-cards__item {
  position: relative;
  display: grid;
  width: 442px;
  height: 554px;
  grid-template: 1fr .2fr .8fr / .5fr 339px .5fr;
  justify-content: center;
  align-items: center;
  box-shadow: 0 20px 30px rgba(0, 0, 0, .1);
  border: 1px solid #AAA;
  border-radius: 10px;
}

.best-feature-cards__photo {
  justify-self: center;
  align-self: center;
  grid-column: 2 / 3;
}

.best-feature-cards__title {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 100%;
  color: #000;
  grid-column: 2 / 3;
}

.best-feature-cards__text {
  align-self: start;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  grid-column: 2 / 3;
}

.best-feature-cards__btn {
  position: absolute;
  bottom: -30px;
  left: 100px;
}

.login {
  display: grid;
  grid-template: repeat(3, auto) / .5fr 1100px .5fr;
  justify-items: center;
  text-align: center;
  grid-row: 6 / 7;
  gap: 100px 10px;
}

.login__title {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  font-size: 48px;
  font-family: "PT Serif", serif;
  font-weight: 100;
  color: #402B2B;
}

.login__title br {
  display: none;
}

.login-card {
  display: grid;
  grid-template: .8fr repeat(2, .2fr .8fr) .6fr .6fr / .5fr 400px .5fr;
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  gap: 20px 0;
  width: 100%;
  max-width: 708px;
  height: 556px;
  text-align: left;
  align-items: start;
  box-shadow: 0 20px 40px rgba(149, 149, 201, .4);
  border: 1px solid #AAA;
  border-radius: 10px;
}

.login-card__label-name {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.login-card__input-name {
  grid-row: 3 / 4;
  border: 2px solid #9595C9;
  box-sizing: border-box;
  box-shadow: 0 20px 40px rgba(149, 149, 201, .2);
  border-radius: 10px;
  height: 60px;
  grid-column: 2 / 3;
  padding-left: 10%;
}

.login-card__label-password {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
}

.login-card__input-password {
  grid-row: 5 / 6;
  border: 1px solid #9595C9;
  box-sizing: border-box;
  border-radius: 5px;
  height: 60px;
  grid-column: 2 / 3;
  padding-left: 10%;
  color: #9D9D9D;
}

.login-card__button {
  grid-row: 6 / 7;
  grid-column: 2 / 3;
  justify-self: start;
}

.login-card__registration {
  grid-row: 7 / 8;
  grid-column: 2 / 3;
}

.login-card__reg-link {
  color: #F00;
  font-weight: 800;
}

.footer {
  display: grid;
  grid-template: 1fr / .5fr 1100px .5fr;
  color: #FFF;
  background-color: #9B9BCA;
  column-gap: 10px;
}

.footer__wrapper {
  display: grid;
  grid-column: 2 / 3;
  grid-template: 50px .6fr .4fr 50px / repeat(6, 1fr);
}

.footer-useful-links {
  display: grid;
  grid-template: 1fr / repeat(4, auto);
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  grid-column: 2 / 6;
  grid-row: 2 / 3;
  gap: 60px;
}

.useful-links__title {
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 20px;
}

.useful-links__link {
  color: #FFF;
  display: block;
}

.footer-copyright {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  justify-self: start;
  align-self: center;
}

.footer-sn-links {
  display: grid;
  grid-template: 1fr / repeat(3, auto);
  gap: 10px;
  grid-row: 3 / 4;
  grid-column: 4 / 6;
  justify-self: start;
  align-self: center;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.footer-sn-links__link {
  display: grid;
  width: 36px;
  height: 36px;
  border-radius: 36px;
  background-color: #FFF;
  justify-items: center;
  align-items: center;
}

.footer-site-link {
  grid-row: 3 / 4;
  grid-column: 5 / 7;
  justify-self: end;
  align-self: center;
  color: #FFF;
  font-size: 22px;
}

.footer-site-link__logo {
  font-size: 20px;
  color: #FFF;
  font-family: "Rammetto One", cursive;
  text-shadow: 0 0 10px #5C5C5C;
}
