.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 15px 0 15px 15px;
  gap: 15px;
  width: 90vw;
  height: 90vh;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, .8);
  overflow-y: auto;
  border-radius: 5px;
}

.container::-webkit-scrollbar {
  width: 10px;
}

.container::-webkit-scrollbar-track {
  background-color: #D8EBF9;
  border-radius: 5px;
}

.container::-webkit-scrollbar-thumb {
  background: #5690D2B2;
  border-radius: 10px;
}

.container::-webkit-scrollbar-thumb:hover {
  background: #1D3F72A8;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(3);
}

.item {
  width: 48%;
  min-width: 280px;
}
