.container {
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid #000;
}

.header {
  display: flex;
}

.post,
.message {
  margin: 25px;
  padding: 10px;
  border: 1px solid #000;
}

.delete-button {
  margin-left: 900px;
}

.image-wrap {
  width: 100%;
  height: 100%;
  padding: 20px 0;
}

.image-center {
  display: block;
  margin: auto;
  width: 500px;
  height: 500px;
}
