.item {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.item-wrapper {
  height: 100px;
  width: 100px;
  display: flex;
}

.hidden {
  display: none;
}

.lds-dual-ring {
  position: absolute;
  width: 80px;
  height: 80px;
}

.lds-dual-ring::after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid;
  border-color: #CCC transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
