<div class="loading" *ngIf="loading; else content">
  <div class="center-loading">
    Loading...
  </div>
</div>
<ng-template #content>
  <label class="description">Select count page:
    <select [(ngModel)]="selected" (change)="handlePageSizeChange($event)">
      <option *ngFor="let size of pageSizes">
        {{ size }}
      </option>
    </select>
  </label>
  <div class="users">
    <div *ngFor="let user of usersData | paginate : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
}" class="user">
      <div class="user-center">
        <div class="user-photo-avatar"><img class="photo" src="{{user.avatar}}" alt="avatar"></div>
        <p class="user-first-name"><span class="description">Name: </span> {{user.first_name}}</p>
        <p class="user-last-name"><span class="description">Last Name: </span>{{user.last_name}}</p>
        <p class="user-email"><span class="description">E-mail: </span>{{user.email}}</p>
      </div>
    </div>
  </div>
  <pagination-controls
    previousLabel="Prev"
    nextLabel="Next"
    (pageChange)="handlePageChange($event)"
  >
  </pagination-controls>
</ng-template>
