body {
    background-color: gray;
  }
input {
    margin: 15px 15px 15px 40px;
    padding: 5px;
    width: 150px; 
    border: 2px solid black;
    border-radius: 10px;
}    
#message {
    background-color:darkblue;
    border: 2px solid black;
    border-radius: 10px 10px 10px 10px;
    width: 600px;
    height: 400px;
    word-wrap: break-word;
    margin-left: 30%;
}
#chat {
    list-style-type: none;
}
li {
  background-color: lightskyblue;
  padding: 5px;
  float: left;
  clear: left;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  margin-bottom: 10px;
}
#li {
    color:white;
    margin-right:40px;
    margin-top:20px;
    width: 60px;
    display: block;
    float: right;
}
#button {
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
}
h1 {
    background-color: lightskyblue;
    color: black;
    text-align: center;
    width: 300px;
    margin-left: 100px;
    border-radius: 5px;
    border: 2px solid black;
}
#header {
    background-color: #002966;
    width: 500px;
    margin-left: 50px;
    margin-top:15px;
    border: 2px solid black;
    border-radius: 10px;
}
#block {
    background-color: #002966;
    border: 2px solid black;
    border-radius: 10px;
    width: 500px;
    height: 200px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    overflow:auto;
}
#dotOne {
    color: white;
    margin-left:85px;
    animation: mymove 1.2s infinite;
    font-size:25px;
}
#dotTwo {
    color: white;
    font-size:25px;
    animation: mymove 1.16s infinite;
}
#dotThree {
    color: white;
    font-size:25px;
    animation: mymove 1.1s infinite;
}
@keyframes mymove {
    50% {color: black;}
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #002966; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}