body {
  background-color: #808080;
}

input {
  width: 150px;
  margin: 15px 15px 15px 40px;
  padding: 5px;
  border: 2px solid hsl(0, 0%, 0%);
  border-radius: 10px;
}

.message {
  width: 600px;
  height: 400px;
  margin-left: 30%;
  word-wrap: break-word;
  border: 2px solid hsl(0, 0%, 0%);
  border-radius: 2px solid hsl(0, 0%, 0%);
  background-color: hsl(240, 100%, 27%);
}

.chat {
  list-style-type: none;
}

li {
  background-color: hsl(203, 92%, 75%);
  padding: 5px;
  float: left;
  clear: left;
  border: 2px solid hsl(0, 0%, 0%);
  border-radius: 10px;
  color: hsl(0, 0%, 0%);
  margin-bottom: 10px;
}

.li {
  color: hsl(0, 0%, 100%);
  margin-right: 40px;
  margin-top: 20px;
  width: 60px;
  display: block;
  float: right;
}

.button {
  padding: 5px;
  border: 2px solid hsl(0, 0%, 0%);
  border-radius: 10px;
}

h1 {
  background-color: hsl(203, 92%, 75%);
  color: rgb(0, 0, 0);
  text-align: center;
  width: 300px;
  margin-left: 100px;
  border-radius: 5px;
  border: 2px solid rgb(0, 0, 0);
}

.header {
  background-color: #002966;
  width: 500px;
  margin-left: 50px;
  margin-top: 15px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
}

.block {
  background-color: rgb(0, 41, 102);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  width: 500px;
  height: 200px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  overflow: auto;
}

.dotOne {
  color: rgb(255, 255, 255);
  margin-left: 85px;
  animation: mymove 1.2s infinite;
  font-size: 25px;
}

.dotTwo {
  color: rgb(255, 255, 255);
  font-size: 25px;
  animation: mymove 1.16s infinite;
}

.dotThree {
  color: rgb(255, 255, 255);
  font-size: 25px;
  animation: mymove 1.1s infinite;
}

@keyframes mymove {
  50% { color: rgb(0, 0, 0);}
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #002966;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
