* {
  box-sizing: border-box;
}

body {
  background-color: #EDEFF2;
  font-family: "Calibri", "Roboto", sans-serif;
}

.chat_window {
  position: absolute;
  width: calc(100% - 20px);
  max-width: 800px;
  height: 500px;
  border-radius: 10px;
  background-color: #FFF;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .15);
  background-color: #F8F8F8;
  overflow: hidden;
}

.top_menu {
  background-color: #FFF;
  width: 100%;
  padding: 20px 0 15px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, .1);
}

.top_menu .buttons {
  margin: 3px 0 0 20px;
  position: absolute;
}

.top_menu .buttons .button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.top_menu .buttons .button.close {
  background-color: #F5886E;
}

.top_menu .buttons .button.minimize {
  background-color: #FDBF68;
}

.top_menu .buttons .button.maximize {
  background-color: #A3D063;
}

.top_menu .title {
  text-align: center;
  color: #BCBDC0;
  font-size: 20px;
}

.typing {
  padding: 10px;
  word-wrap: break-word;
}

.messages {
  position: relative;
  list-style: none;
  padding: 20px 10px 0;
  margin: 0;
  height: 347px;
  overflow: auto;
}

.messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all .5s linear;
  opacity: 0;
}

.messages .message .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
}

.messages .message.left .avatar {
  background-color: #F5886E;
  float: left;
}

.messages .message .text_wrapper {
  display: inline-block;
  padding: 20px;
  border-radius: 6px;
  width: calc(100% - 85px);
  min-width: 100px;
  position: relative;
}

.messages .message.left .text_wrapper {
  background-color: #FFE6CB;
  margin-left: 20px;
}

.messages .message .text_wrapper::after {
  border-width: 13px;
}

.messages .message .text_wrapper::after,
.messages .message .text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
}

.bottom_wrapper .send_message .text {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}

.messages .message.left .text {
  color: #C48843;
}

.messages .message.right .avatar {
  background-color: #FDBF68;
  float: right;
}

.messages .message.right .text_wrapper {
  background-color: #C7EAFC;
  margin-right: 20px;
  float: right;
}

.messages .message .text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
}


.messages .message .text_wrapper::after,
.messages .message .text_wrapper::before {
  top: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.messages .message.right .text {
  color: #45829B ;
}

.messages .message.appeared {
  opacity: 1;
}

.messages .message .text_wrapper .text {
  font-size: 18px;
  font-weight: 300;
}

.bottom_wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  background-color: #FFF;
  padding: 20px;
  position: absolute;
  bottom: 0;
}

.bottom_wrapper .message_input_wrapper {
  height: 50px;
  border-radius: 25px;
  border: 1px solid #BCBDC0;
  width: calc(92% - 160px);
  position: relative;
  padding: 0 20px;
}

.bottom_wrapper .message_input_wrapper .message_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 40px);
  position: absolute;
  outline-width: 0;
}

.bottom_wrapper .send_message {
  width: 140px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  background-color: #A3D063;
  border: 2px solid #A3D063;
  color: #FFF;
  cursor: pointer;
  transition: all .2s linear;
  text-align: center;
  float: right;
}

.bottom_wrapper .send_message:hover {
  color: #A3D063;
  background-color: #FFF;
}

.message_template {
  display: none;
}