<div class="container">
  <form [formGroup]="userForm" (ngSubmit)="onFormSubmit()" class="container__form">

    <label for="email">Email: </label>
    <input type="email" name="email" formControlName="email" [email]="true" #inputEmail/>

    <label for="password">Password: </label>
    <input type="password" name="password" formControlName="password" #inputPassword/>

    <div>
      <input type="checkbox" name="isRemember" formControlName="isRememberUserData">
      <label for="isRemember">Remember me</label>
    </div>

    <button type="submit" [disabled]="!userForm.valid" class="btn">Submit</button>
  </form>
</div>
