* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  background-color: #F4F7F6;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
}

.wrapper {
  background-color: #FFF;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: auto;
}

.transition-0x-sec {
  transition: all 200ms cubic-bezier(.165, .84, .44, 1);
}

/* thanks to @Bohdan_Kasian for the "overflow: hidden" */

header {
  overflow: hidden;
  position: sticky;
  top: 0;
}

header > div {
  position: relative;
  font-size: 2em;
  padding-top: .5em;
  padding-bottom: .25em;
  padding-left: .5em;
  background-color: #300000;
  color: #FF4E4E;
}

main {
  padding: 1em .5em 1em 1em;
}

.lalala {
  background-color: #FF4E4E;
  border-radius: .25em;
  padding: 1em;
  font-weight: 600;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  margin: 1em 0;
}

.lalala div {
  display: inline-block;
}

button {
  font-size: 1rem;
  background-color: #FF4E4E;
  color: #300000;
  display: inline-block;
  padding: 3px;
  border-radius: 3px;
  border: 3px solid #300000;
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #E6EAEA;
}

::-webkit-scrollbar-thumb {
  background: #FF4E4E;
}


@media (min-width: 700px) {

  .wrapper {
    max-height: 640px;
    width: 360px;
    margin: auto;
    -webkit-box-shadow: 0 8px 10px -8px rgba(0,0,0,.2);
    box-shadow: 0 8px 10px -8px rgba(0,0,0,.1);
  }
}
