<section class="vehicle-section">
  <div class="lds-dual-ring" *ngIf="loader"></div>
  <div *ngFor="let vehicle of vehicles"
       class="vehicle">
    <a href="{{ vehicle | encodeVehicleLink }}"
       class="vehicle-info link"
       appChangeColorField
       target="_blank">
        <span class="vehicle-info_title">Added from:</span>
        <span>{{ vehicle.post.protocol }}</span>
    </a>
    <div class="vehicle-info">
      <div class="vehicle-info_title">Vehicle:</div>
      <div>{{ vehicle | transformVehicle}}</div>
    </div>
    <div class="vehicle-info">
      <div class="vehicle-info_title">Price:</div>
      <div>{{ vehicle.cost.amount | currency: vehicle.cost.currencyCode:'symbol-narrow' }}</div>
    </div>
  </div>
</section>
