.main-content {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border: 1px #000 solid;
}

.time-section {
  border: 1px #000 solid;
  width: 170px;
  height: 200px;
  padding: 18px 20px;
}

.btn-wrapper {
  margin-top: 15px;
}

.btn {
  width: 100px;
  height: 40px;
}

.date-info {
  height: 40px;
}

.time {
  font-size: 17px;
  margin-bottom: 10px;
}

.label {
  width: 110px;
  height: 23px;
}

.date-picker {
  font-size: 17px;
}
