body {
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.post {
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  width: 40rem;
  border: 3px solid black;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  }
.title {
  font-size: 16px;
  text-align: center;
  font-family: monospace;
}

p {
  font-size: 15px;
  text-align: center;
  font-family: monospace;
}


select {
  padding: 0.5em 2em 0.5em 0.5em;
  border: 2px solid #eee;
  font: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position: right 15px top 1em, right 10px top 1em;
  background-size: 5px 5px, 5px 5px;
  margin-left: 20rem;
}

.type-1 {
  border-radius:5px;
  border: 2px solid #eee;
  transition: .3s border-color;
  min-height: 1.6rem;
  min-width: 30rem;
}
.type-1:hover {
  border: 3px solid rgb(83, 83, 83);
}
