body {
  background: url(./image/e077eec5651d294de5ffd25b340f9e13.jpg);
;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.nav {
  display: flex;
  justify-content: center;
}

.post {
  min-height: 5rem;
  justify-self: center;
  box-sizing: border-box;
  width: 40rem;
  border-radius: 2px;
  border: 1px solid;
  margin-left: auto;
  margin-right: auto;
  background: url(./image/process-bg.jpg);
  }

.title {
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  font-family: monospace;
}

.text {
  margin: 5px;
  font-size: 15px;
  font-family: monospace;
}


select {
  padding: 0.5em 2em 0.5em 0.5em;
  border: 2px solid #eee;
  font: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position: right 15px top 1em, right 10px top 1em;
  background-size: 5px 5px, 5px 5px;
  min-width: 10rem;
}

.type-1 {
  border-radius:5px;
  border: 2px solid #eee;
  transition: .3s border-color;
  min-height: 1.6rem;
  min-width: 25rem;
}
.type-1:hover {
  border: 3px solid rgb(83, 83, 83);
}
