 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.modul {
  padding: 30px;
  border: 2px solid #000;
  width: 550px;
  height: 550px;
}
//
.input-data,
.btn-get-month-fridays,
.btn-is-month-long,
.btn-days,
.btn-full-weeks {
  width: 200px;
  height: 30px;
  margin-top: 15px;
}

.text-get-month,
.text-is-month,
.text-days,
.text-full-weeks {
  margin-top: 15px;
}
