* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.gallery {
  margin: 0 auto 40px;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
}

.gallery__item {
  list-style: none;
  cursor: pointer;
  padding: 10px;
  width: calc(80vw / 8);
  height: calc(80vw / 8);
}


.gallery__image-wrapper {
  width: 100%;
  height: 100%;
  transition: transform .3s;
}

.gallery__image-wrapper:hover {
  transform: scale(1.05);
}
