<header>
    <h1 class="header">Gallery</h1>
</header>
<ul class="gallery">
    <li class="gallery__item" *ngFor="let image of images; let index = index">
        <div class="gallery__image-wrapper" [ngStyle]="{boxShadow: selectedImage === image? '0 0 20px rgba(228, 79, 54, 1)': '0 0 20px rgba(0,0,0,.5)'}">
            <app-gallery-item [image]="image"
                              [selectedIndex]="index"
                              (isLoadedImageEvent)="setImageLoadStatus($event)"
                              (selectedImageEvent)="setSelectedImage($event)"
                              (selectedImageIndexEvent)="setImageSelectedIndex($event)">
            </app-gallery-item>
            <app-loader *ngIf="!isLoadedImage" [ngStyle]="{display: isLoadedImage? 'none': 'block'}"></app-loader>
        </div>
    </li>
</ul>
<app-selected-image *ngIf="selectedImage"
                    [imageSelectedIndex]="imageSelectedIndex"
                    [selectedImage]="selectedImage"
                    (selectedImageEvent)="setSelectedImage($event)">

</app-selected-image>
