<header>
    <h1 class="header">Gallery</h1>
</header>
<ul class="gallery">
    <li class="gallery__item" *ngFor="let image of images; let index = index">
        <div class="gallery__image-wrapper" [class.selected]="getIsImageSelected(image)">
            <app-gallery-item [image]="image"
                              [selectedIndex]="index"
                              (isLoadedImageEvent)="setImageLoadStatus($event)"
                              (selectedImageEvent)="setSelectedImage($event)"
                              (selectedImageIndexEvent)="setImageSelectedIndex($event)">
            </app-gallery-item>
            <app-loader *ngIf="!isLoadedImage"></app-loader>
        </div>
    </li>
</ul>
<app-selected-image *ngIf="selectedImage"
                    [imageSelectedIndex]="imageSelectedIndex"
                    [selectedImage]="selectedImage"
                    (selectedImageEvent)="setSelectedImage($event)">
</app-selected-image>
