.vehicle-list__vehicle-item {
  display: block;
  width: 100%;
  padding-top: 5px;
  border-bottom: 1px solid #808080;
}

.label {
  color: #296729;
  font-weight: 600;
}

.vehicle-list__vehicle-item-link {
  text-decoration: none;
  color: #0B0C0C;
}

