.message-wrapper {
  margin: 0 auto;
  width: 515px;
  height: 500px;
  overflow: auto;
}

.form-wrapper {
  width: 515px;
  margin: 0 auto;
  position: relative;
}

.typing {
  color: #9E9C9C;
  position: absolute;
  top: -20px;
  left: 20px;
}

.warning {
  color: #F00;
}

.input {
  width: 409px;
  height: 44px;
  border: none;
  background-color: #EFEFEF;
  border-radius: 30px;
  outline: none;
  box-sizing: border-box;
  padding-left: 20px;
  font-size: 14px;
}

.btn {
  width: 93px;
  height: 48px;
  border: none;
  border-radius: 30px;
  font-size: 14px;
}

.btn:hover {
  background-color: #90EE90;
  color: #FFF;
}

.hidden {
  display: none;
}

.message-list {
  list-style: none;
  margin: 5px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

ul li {
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
}

.message {
  border-bottom-right-radius: 5px;
  align-items: flex-start;
  background: #0084FF;
  color: #FFF;
}

.message + .message {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.message:last-of-type {
  border-bottom-right-radius: 30px;
}
