<div *ngIf="areVehiclesLoading" class="loader">Loading...</div>
<div *ngIf="!areVehiclesLoading">

  <table class="vehicleTable">
    <tr>
      <th>#</th>
      <th>Added from</th>
      <th>Vehicle</th>
      <th>Price</th>
    </tr>
    <tr *ngFor="let vehicle of vehicles let i = index">
      <td>{{ i }}</td>
      <td appRedBackgroundColor>{{ vehicle.post.protocol }}</td>
      <td>{{ vehicle | transformVehicle}}</td>
      <td>{{ vehicle.cost.amount | currency : vehicle.cost.currencyCode}}</td>
    </tr>
  </table>
</div>
