<div class="image-container" *ngIf="!isImageDownloaded">
  <div *ngFor="let image of images" class="loader"></div>
</div>
<div *ngIf="isImageDownloaded" class="image-container">
  <div *ngFor="let image of images; index as i">
    <app-show-image
      [index]="i"
      [currentImage]="currentImage"
      [image]="image"
      (onImageClick)="setCurrentImage($event)"
    ></app-show-image>
  </div>
</div>
<div class="button-container">
<button (click)="prevButtonAction()">Prev</button>
<button (click)="nextButtonAction()">Next</button>
</div>
<app-image [currentImage]="currentImage"></app-image>
