.container {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
}

.login-form {
  padding-top: 100px;
  max-width: 25%;
  width: 100%;
  margin: 0 auto;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}

.form-control__input {
  font-size: 16px;
  width: 100%;
  padding: 15px;
  border-radius: 25px;
  background-color: #2A4137;
  border: none;
  color: #809189;
  outline: none;
}

.form-control__input::placeholder {
  color: #809189;
}

.form-control__input:focus, .form-control__input:hover {
  outline: none;
}

.validation {
  padding-left: 15px;
  color: #F00;
}

.form-control-checkbox-wrapper {
  padding-left: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}

.form-control-checkbox__label {
  padding-left: 10px;
  cursor: pointer;
}

.form-control-checkbox__input {
  cursor: pointer;
}

.login-form__btn {
  background-color: #FECE30;
  border-radius: 25px;
  border: none;
  padding: 15px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  color: #2A4137;
  font-weight: 600;
  outline: none;
}

.login-form__btn:hover, .login-form__btn:focus {
  box-shadow: 0 14px 28px rgba(42, 65, 55, .22), 0 10px 10px rgba(42, 65, 55, .22);
}

.login-form__btn:disabled {
  color: rgba(16, 16, 16, .4);
}

.invalid {
  color: #F00;
}

.tooltip {
  position: relative;
  cursor: help
}

.tooltip::after {
  content: attr(data-tooltip-title);
  z-index: 10;
  position: absolute;
  pointer-events: none;
  max-width: 200px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  bottom: 120%;
  left: calc(50% - 100px);
  padding: 8px 0;
  border-radius: 3px;
  background-color: rgb(42, 65, 55);
  opacity: 0;
  color: #809189;
  font-weight: 400;
  box-shadow: 0 0 5px 2px rgb(128, 145, 137);
  transform: translateY(-20px);
  transition: all 150ms cubic-bezier(.25, .8, .25, 1);
}

.tooltip:hover::after {
  opacity: 1;
  transform: translateY(0);
  transition-duration: 300ms;
}
