<section class="about">
  <div class="about__header">
    <h2>About</h2>
  </div>
  <div class="about__content">
    <div class="about__image-box">
      <img
        src="../assets/media/pexels-isabella-mendes-348489.webp"
        alt=""
        class="image"
      />
    </div>
    <div class="about__content-box">
      <h3>Lorem ipsum dolor sit amet.</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi
        consequuntur dignissimos laudantium optio voluptas, explicabo aliquid
        saepe dolores autem ea! Eos tempore praesentium nulla, repellendus
        aliquam quisquam quibusdam ipsa voluptate. Totam dolore perferendis,
        consequuntur fugiat neque aperiam dignissimos quam nostrum dicta minima!
        Et nostrum officia aperiam minus maiores explicabo eius, natus rem unde
        quisquam commodi maxime exercitationem eligendi dicta minima?
        Accusantium suscipit modi ex odio eaque. Recusandae possimus eum neque
        tenetur, incidunt, maxime adipisci nemo sit dolorem, perspiciatis
        obcaecati dolore libero culpa non exercitationem! Assumenda molestias
        perferendis laboriosam vitae aliquid? Sit ea repellat assumenda, eaque
        ipsam adipisci similique quo quibusdam consequatur, minima impedit
        dignissimos quam sequi velit magnam aperiam aspernatur temporibus
        consectetur fuga, mollitia labore ipsa. Cupiditate quas voluptas libero.
        Deserunt unde harum ex odio alias numquam dolore earum esse vel, officia
        facilis nihil? Ea quas tempora rerum dolorem est a perferendis et
        aliquam, officiis vero repudiandae debitis explicabo ad? Illo atque
        nemo, dolorem delectus ipsum iusto veritatis cupiditate officia
        praesentium labore modi impedit. Ipsam culpa eaque perferendis tempore
        odit a quae harum hic esse recusandae, ut veritatis optio voluptatum?
        Quaerat magni ea et reprehenderit quis quibusdam, impedit, ullam
        asperiores perferendis commodi natus deleniti? Aliquid laborum autem
        illo fugit voluptates itaque, quibusdam asperiores labore voluptatum?
        Facere saepe dolore maxime pariatur. Voluptas, sunt. Facere, ex officiis
        tempore mollitia a labore dignissimos natus est doloribus quis voluptate
        officia, similique consequatur rerum qui nobis! Architecto reprehenderit
        error delectus molestiae est magnam unde consequatur. Sunt recusandae
        laboriosam autem! Quibusdam, ratione facere. Ad modi illo dignissimos
        error consequuntur natus accusamus harum dolore porro aspernatur optio
        qui corporis ipsam, nisi est quisquam neque aliquid molestiae
        architecto. Alias commodi id distinctio molestiae ad! Voluptate
        explicabo illo, aliquid sunt pariatur eveniet officiis dicta earum
        architecto assumenda itaque necessitatibus dolorem ea consequatur!
        Nesciunt, nostrum. Ipsum quam explicabo accusantium molestias.
      </p>
    </div>
  </div>
</section>
