<header>
  <a class="logo" routerLink="">Logo</a>
  <div class="toogleMenu" (click)="showMenu()" #toogle></div>
  <ul class="navigation" #navigation>
    <li>
      <a
        routerLink="/home"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li><a routerLink="/account" routerLinkActive="active">Account</a></li>
    <li>
      <a routerLink="/accessories" routerLinkActive="active">Accessories</a>
    </li>
  </ul>
</header>
