.container {
  max-width: 520px;
  margin: 0 auto;
}

.header {
  padding: 25px;
  display: flex;
  justify-content: space-between;
}

.logo {
  max-width: 100px;
  border-radius: 50px;
}

.text-wrapper {
  padding: 10px 25px;
}

.title {
  font-size: 25px;
  line-height: 34px;
}

.text {
  padding: 5px 0;
  font-size: 20px;
  line-height: 28px;
}

.link {
  text-decoration: none;
  font-size: 20px;
  color: #FFF;
}

.btn {
  padding: 15px 25px;
  background-color: #4BA6DE;
  color: #FFF;
  border: 2px solid #4BA6DE;
}

.btn:hover {
  background-color: #3FAB89;
  border: 2px solid #3FAB89;
}

.sticky {
  position: sticky;
  top: 0;
  background: #FFF;
  -o-transform: skewX(20deg);
  -ms-transform: skewX(20deg);
  -moz-transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);
  transition: 3s;
  opacity: 1;
}
