body {
  display: flex;
  flex-direction: column;
  min-width: 760px;
  margin: 0;
  padding: 0;
  background-color: rgb(57, 145, 172);
}

.app-header {
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
}

.app-header_h1 {
  letter-spacing: 2px;
  text-shadow: -2px 0 rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 40px;
  align-self: auto;
  margin: 0;
  padding-top: 10px;
}

.app-header_h1-signature {
  padding-top: 30px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-weight: 700;
}

.game-wrapper {
  display: flex;
  flex-direction: column;
}

.game__bar {
  display: inline-flex;
  justify-content: center;
  height: 40px;
}

.game__bar-process-btns-container {
  width: 480px;
  height: 35px;
  display: inline-flex;
  justify-content: space-around;
}

.bar__process-btn {
  width: 140px;
  height: 28px;
  margin: auto;
  box-sizing: border-box;
  font-weight: 800;
  color: rgb(57, 145, 172);
}

.bar__process-btn:focus, .bar__process-btn:active {
  box-shadow: none;
}

.bar__process-btn:hover {
  cursor: pointer;
  height: 34px;
}

.game__score {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 760px;
  margin-top: 20px;
  left: 0;
  right: 0;
  height: 70px;
}

.game__score-container {
  width: 100px;
  height: 60px;
  margin: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

.game-points {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 32px;
  font-weight: 800;
  width: 100px;
  height: 60px;
}

.score__plus-points {
  color: rgb(4, 218, 32)
}

.score__current-points {
  color: rgb(57, 145, 172);
}

.score__minus-points {
  color: rgb(231, 55, 10)
}

.game__body {
  min-width: 760px;
  height: 120px;
  left: 0;
  right: 0;
}

.body__key-container {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px auto;
}

.game__key {
  width: 120px;
  height: 70px;
  margin: 5px auto;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 36px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(57, 145, 172);
  text-shadow: 1px 2px 3px rgb(57, 145, 172);
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.game__body-desktop-keyboard {
  height: 220px;
  width: 620px;
  margin: 38px auto;
  border: 4px solid  rgb(255, 255, 255);
  border-radius: 5px;
  background-color: rgb(57, 145, 172);
}

.keyboard-lines {
  width: 600px;
  height: 60px;
  margin: 5px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.keyboard-key {
  border: 2px solid  rgb(255, 255, 255);
  background-color: rgb(57, 145, 172);
  border-radius: 3px;
  width: 48px;
  height: 48px;
  margin: 15px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 24px;
  color: rgb(57, 145, 172);
}

.keyboard-key:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.keyboard-key:active {
  background-color: rgb(255, 255, 255);
  color: rgb(57, 145, 172);
}

.app-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(57, 145, 172);
  height: 50px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 800;
}
