<H1>Image</H1>
<div class="grid-container">
  <input
    class="grid-btn-left"
    [disabled]="imageIndex === 0"
    type="button"
    value="Prev"
    (click)="choosePrev()"
  />

  <img
  class="image grid-image-item"
  src="{{ imageUrl }}"
  alt=""
/>

  <input
    [disabled]="imageIndex === imageMaxIndex"
    type="button"
    value="Next"
    (click)="chooseNext()"
  />
</div>

<div class="grid-container-bottom">
<div class="grid-item"></div>
<div class="grid-item"></div>
<div class="grid-item"></div>
<div class="grid-item"></div>
<div class="grid-item"></div>
<div class="grid-item"></div>
<div class="grid-item"></div>
<div class="grid-item"></div>
<div class="grid-item"></div>
<div class="grid-item"></div>
<div class="grid-item"></div>
<div class="grid-item"></div>
<div class="grid-item"></div>
<div class="grid-item"></div>
<div class="grid-item"></div>
</div>