html,
body {
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
}
#wrap {
  min-height: 100%;
}
main {
  padding-bottom: 100px;
}
footer {
  margin-top: -100px;
  height: 100px;
}

[data-form] {
  width: 100%;
}

[data-form]> input:nth-child(1){
  width: 80%;
}

[data-form]> input:nth-child(2){
  width: 15%;
}
