.display--block {
  display: block;
  width: 100%;
}

.login-form {
  display: grid;
  grid-template: 1fr / auto;
  padding: 0 10px 10px;
  border: solid #AAA 2px;
  font-size: 30px;
}

.container {
  width: 100%;
  padding-top: 20px;
}

.text-input {
  padding: 5px 10px;
  font-size: 30px;
  border-radius: 10px;
}

.login-remember-checkbox {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.login-form-button {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  background-color: #00F;
  color: #FFF;
  font-weight: 700;
}
