<form class="login-form" [formGroup]="formLogin" (submit)="onSubmit()">
  <div class="container">
    <app-custom-input
      labelName="Email:"
      inputType="text"
      formControlName="email"
      [labelErrorValue]="emailValidateError">
    </app-custom-input>
  </div>

  <div class="container">
    <app-custom-input
      labelName="Password:"
      inputType="password"
      formControlName="password"
      inputTypeChangeButtonDisplay="true"
      [labelErrorValue]="passwordValidateError"
    ></app-custom-input>
  </div>
  <div class="container">
    <input id="login-form-checkbox" type="checkbox" class="login-remember-checkbox" checked=""
           formControlName="remember"/>
    <label for="login-form-checkbox">Remember me</label>
  </div>

  <div class="container">
    <button type="submit" class="login-form-button">Submit</button>
  </div>
</form>
