<div class="grid-wrap">
  <h1 class="page-title">{{ title }}</h1>

  <div class="user-profile-card" *ngFor="let user of pageData.data">
    <div
      class="user-avatar"
      style="background-image: url( {{ user.avatar }} );"
    ></div>
    <div class="user-name">
      <span class="user-first-name user-name-text inline-block-text">
        {{ user.first_name }}
      </span>
      <span class="user-second-name user-name-text inline-block-text">
        {{ user.last_name }}
      </span>
    </div>
    <div class="user-email inline-block-text">{{ user.email }}</div>
  </div>

  <div class="pagination">
    <a
      *ngFor="let number of pages"
      href="#"
      [class.active]="pageData.page == number"
      (click)="selectPage(number)"
      >{{ number }}</a
    >
  </div>
</div>
