

<div class="grid-wrap">
  <h1 class="page-title">{{ title }}</h1>
  <div class="user-profile-card">
    <div class="user-avatar"></div>
    <div class="user-name">
      <span class="user-first-name user-name-text">Pavel</span>
      <span class="user-name-text">&nbsp;</span>
      <span class="user-second-name user-name-text">Sokurenko</span>
    </div>
    <div class="user-email">mail@supergmail.com</div>
  </div>

  <div class="user-profile-card">
    <div class="user-avatar"></div>
    <div class="user-name">
      <span class="user-first-name user-name-text">Pavel</span>
      <span class="user-name-text">&nbsp;</span>
      <span class="user-second-name user-name-text">Sokurenko</span>
    </div>
    <div class="user-email">mail@supergmail.com</div>
  </div>

  <div class="pagination">
    <a href="#">&laquo;</a>
    <a href="#">1</a>
    <a href="#" class="active">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">&raquo;</a>
  </div>

</div>



