.post-section {
  width: 500px;
  margin: 0 auto;
}

.header {
  height: 50px;
  display: flex;
  width: 500px;
  position: fixed;
  background-color: #FFF;
  justify-content: space-between;
  align-items: center;
  transition: all .2s;
}

.sticky {
  top: 0;
  transition: top .3s;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  height: 0;
}

.header-btn {
  margin: 20px;
  width: 100px;
  height: 20px;
}

.main-content {
  padding-top: 55px;
}
