.h2 {
    margin: 0;
}

.container {
    position: relative;
    padding: 15px;
    width: 100%;
    height: 90%;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.button {
    align-self: center;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 2rem;
}

.img {
    height: 100%;
}