.container {
  width: 60vw;
  min-width: 500px;
  height: 120vh;
  margin: 0 auto;
  background-color: #f9f9f9;
}

.page__header {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 600;
  background-color: #00ff2a;
  color: rgb(0, 255, 42);
  justify-content: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 2);
}

.page__header-description {
  font-size: 18px;
}

.content__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 50px);
  width: 100%;
}

.messages-output__wrapper {
  padding: 20px;
  height: 100%;
  overflow-y: scroll;
}

.messages-output__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.messages-output__body {
  max-width: 50%;
  background-color: rgb(0, 255, 76);
  border-radius: 22px;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(62, 255, 104, 2);
  white-space: normal;
  overflow-wrap: break-word;
}

.btn-delete-message {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  opacity: 0;
  visibility: hidden;
  transition: all 2s;
}

.delete-icon {
  width: 15px;
  height: 15px;
}

.input-form__wrapper {
  padding: 0 20px;
  margin-bottom: 20px;
}

.input-form__typing-status {
  font-size: 12px;
  margin-left: 20px;
  margin-bottom: 10px;
  color: #31d847;
}

.input-form__error-message {
  min-height: 20px;
  font-size: 12px;
  color: #51ff0d;
  margin-left: 20px;
  margin-bottom: 5px;
}

.messages-input__row {
  display: flex;
  padding: 10px 15px;
  border: 1px solid #0cff04;
  border-radius: 22px;
  background-color: rgb(0, 255, 55);
}

.messages-input {
  width: 100%;
  border: none;
  padding: 7px;
  margin-right: 10px;
}

.btn-submit {
  border: none;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  background-color: transparent;
  cursor: pointer;
}

.messages-input:focus,
.btn-submit:focus,
.btn-delete-message:focus {
  outline: none;
}

.messages-output__item:hover .btn-delete-message {
  opacity: 1;
  visibility: visible;
}
