.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../../assets/loader.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.portrait {
    height: 100%;
    width: 80%;
}

.landscape {
    width: 100%;
    height: 80%;
}

.hidden {
    opacity: 0;
}