.wrapper {
  height: 100vh;
  width: 100vw;
  background-color: #161623;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#F00,#F0F);
  clip-path: circle(30% at right 70%);
}

.wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#2196F3,#E91E63);
  clip-path: circle(20% at 10% 10%);
}


.container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container .container__card {
  position: relative;
  width: 300px;
  height: 400px;
  background: rgba(255, 255, 255, .05);
  margin: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, .2);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  cursor: pointer;
}

.container .container__card .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: .5;
  transition: .5s;
}

.container .container__card:hover .content {
  opacity: 1;
  transform: translateY(-20px);
}

.container .container__card .content .imgBx {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid rgba(0, 0, 0, .25);
}

.container .container__card .content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .container__card .content .contentBx h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px;
  color: #FFF;
  line-height: 1.1em;
}


.container .container__card .content .contentBx h3 span {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}

.container .container__card .email {
  font-size: 18px;
  text-align: center;
  color: #FFF;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(40px);
  transition: .5s;
  opacity: 0;
  font-weight: 500;
}

.container .container__card:hover .email {
  transform: translateY(0);
  opacity: 1;
}

.pagination {
  position: absolute;
  top: 87%;
  background: #FFF;
  display: flex;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
}

.pagination li {
  line-height: 50px;
  margin: 0 5px;
}

.pagination li.pageNumber {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.pagination li a {
  display: block;
  color: #777;
  font-weight: 600;
  border-radius: 50%;
}

.pagination li.pageNumber:hover a,
.pagination li.pageNumber.active {
  background: #333;
  color: #FFF;
}

.pagination li:first-child {
  margin-right: 30px;
  font-weight: 700;
  font-size: 20px;
}

.pagination li:last-child {
  margin-left: 30px;
  font-weight: 700;
  font-size: 20px;
}

.disabled {
  pointer-events: none;
}
