.block {
  width: 600px;
  margin-left: 33%;
}

.header {
  background-color: rgb(170, 170, 170);
  height: 50px;
  text-align: center;
  padding: 20px;
  transition: all .4s ease-in-out;
}

.header-show {
  position: sticky;
  top: 0;
  background-color: rgb(128, 128, 128);
}
