body {
  color: #808080;
}

.loader {
  height: 200px;
  text-align: center;
}

.users {
  display: flex;
  flex-wrap: wrap;
  min-height: 200px;
  justify-content: center;
}

.user-card {
  margin: 5px;
  text-align: center;
}

.user-avatar {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pagination__page-item {
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  border: 1px solid #808080;
}

.pagination__page-item_current {
  background-color: #008000;
}

.pagination__page-items-count {
  margin-left: 20px;
  padding: 0 10px;
  cursor: pointer;
}
