.container {
  background: #545258;
  position: relative;
  display: grid;
  max-width: 1024px;
  margin: 0 auto;
  grid-template-rows: 40px auto;
  height: 2000px;
}

.header {
  height: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  background: #2b2828;
  position: sticky;
}

.header__active {
  top: 0;
  transition: top 0.2s;
}

.header__not-active {
  top: -60px;
  transition: top 0.2s;
}

span {
  color: #ffff;
}

.container  button {
  display: grid;
  justify-self: center;
  align-self: center;
}
