.image {
    width: 400px;
    height: 400px;
    background-image: url('../../assets/test.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 10px solid #0001
}