.home-work-headline,
.headline {
  text-align: center;
}

.headline {
  color: #4C566A;
}

.cards-list {
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}
