:host {
  grid-area: header;
  background-color: #123552;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 10px;
  opacity: .9;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .7);
  position: relative;
  display: flex;
  align-items: center;
}

.header__logo {
  font-size: 2rem;
  text-decoration: none;
  color: #FFDBAA;
  margin-right: 15px;
}

.header__heading {
  font-size: 2.85rem;
  line-height: 32px;
  margin: 0;
}

.header__log-in {
  position: absolute;
  right: 0;
  margin-right: 10px;
  text-decoration: none;
  color: #FFDBAA;
  font-size: 2rem;
}