<div class="wrapper">
  <div class="content">
    <div class="contentBx">
      <h2>Lorem, ipsum.</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum aspernatur
        quam impedit quibusdam asperiores explicabo nisi nesciunt qui sed
        voluptatem.
      </p>
      <a routerLink="getstarted" (click)="goToGetStart()">Get Start</a>
    </div>
  </div>
  <ul class="sci">
    <li>
      <a href="">
        <img src="../../../assets/media/facebook.webp" alt="facebook" />
      </a>
    </li>
    <li>
      <a href=""
        ><img src="../../../assets/media/twitter.webp" alt="twitter"
      /></a>
    </li>
    <li>
      <a href=""
        ><img src="../../../assets/media/instagram.webp" alt="instagram"
      /></a>
    </li>
  </ul>
</div>
