.mold {
  width: 200px;
}

.submit {
  margin: 5px;
  background-color: #F0F8FF;
  color: #000000;
  border-color: #A9A9A9;
  border-style: solid;
  border-radius: 10px 10px 10px 10px;
  height: 30px;
  width: 300px;
}

.input {
  margin-top: 5px;
  background-color: #F0F8FF;
  color: #000000;
  border-color: #A9A9A9;
  border-style: solid;
  border-bottom-left-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  height: 30px;
  width: 300px;
}

.title {
  padding: 15px 15px 15px 25px;
  margin-bottom: 16px;
}

.p {
  border-top-left-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
  background-color: #2184FF;
  min-height: 25px;
  width: 250px;
  text-align: right;
  padding: 10px;
  vertical-align: text-bottom;
  color: #FFFFFF;
  margin-left: 25px;
}

.hat {
  width: 300px;
  height: 100px;
  background-color: #F0F8FF;
  border-top-left-radius: 20px 20px;
  border-top-right-radius: 20px 20px;
  border-color: #EAEAEB;
  border-style: solid;
  margin: 0;
}


