form {
  width: 200px;
}

input {
  background-color: #f0f8ff; 
   color: black;
border-color: darkgray;
border-style: solid;
  border-bottom-left-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
   height: 30px;
   width: 300px;

}
h1 {  
  padding: 15px;
  padding-left: 15%;
  margin-bottom: 16px;
 
  }
 p {
  border-top-left-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
   background-color: #2184ff;
   min-height: 25px;
   width: 250px;
   text-align: right;
   padding: 10px;
   vertical-align: text-bottom;
   color: #ffffff;
   margin-left: 25px;
  
 }
/*div#osnova {
  width: 300px;
  height: 250px;
  background-color: #e9e9e9;
  border-color: #eaeaeb;
  border-style: solid;
  }
  */
div#shapka {
  width: 300px;
  height: 100px;
  background-color: #f0f8ff;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    border-color: #eaeaeb;
    border-style: solid;
    margin: 0;
}
 

