.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.header {
  max-width: 1600px;
  height: 737px;
  background-image: url("../img/main.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
}

.logo__circle {
  display: inline-block;
  width: 72px;
  height: 72px;
  font-family: Rammetto One;
  font-size: 20px;
  line-height: 72px;
  color: #FFF;
  background: #C8C8C8;
  border-radius: 50%;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, .25);
  text-align: center;
}

.logo__text {
  display: inline-block;
  margin-left: 16px;
  font-size: 26px;
  font-family: Roboto;
  font-size: 22px;
  line-height: 26px;
  color: #505050;
}

.header__nav {
  height: 116px;
  display: grid;
  grid-template-columns: 215px 1fr 234px;
  padding: 0 15%;
  align-items: center;
}

.header__link {
  text-decoration: none;
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #717784;
}

.header__menu {
  display: grid;
  grid-template-columns: 54px 81px 66px 65px;
  padding-top: 5px;
  padding-left: 162px;
  grid-gap: 3rem;
}

.header__button {
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 60px;
  color: #FFF;
  background: #9B9BCA;
  border-radius: 10px;
  width: 234px;
  height: 60px;
  text-align: center;
  margin-left: 15%;
}

.header__title {
  margin: 188px 50% 30px 15%;
  max-width: 548px;
  height: 112px;
  font-family: DM serif Display;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 100%;
  color: #696A86;
}

.header__text {
  margin: 0 37% 30px 15%;
  height: 81px;
  font-family: Poppins;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  color: #696A86;
}

.title {
  font-family: Poppins;
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
  color: #626780;
}

.service__title, .feature__title {
  margin-top: 100px;
  text-align: center;
}

.text {
  font-family: Poppins;
  font-size: 18px;
  line-height: 30px;
  color: #626780;
  text-align: center;
}

.service__text, .feature__text {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 746px;
}

.service__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 17%;
  margin-right: 17%;
  grid-column-gap: 3rem;
  margin-top: 100px;
}

.service__img {
  display: block;
  width: 65px;
  height: 65px;
  text-align: center;
  margin: 0 auto;
}

.service__title {
  font-family: Poppins;
  font-weight: 500;
  font-size: 22px;
  line-height: 40px;
  color: #626780;
  text-align: center;
  margin-top: 21px;
  margin-bottom: 12px;
}

.service__text {
  font-family: Poppins;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #626780;
}

.image-block {
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
}

.image-block__text {
  max-width: 550px;
  height: 200px;
  position: absolute;
  top: 119px;
  left: 18%;
  font-family: PT serif;
  font-size: 48px;
  line-height: 140%;
  color: #000;
}

.item-feature {
  max-width: 442px;
  text-align: center;
  padding: 3%;
}

.feature-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 100px;
  grid-column-gap: 5rem;
}

.item-feature__image {
  max-width: 339px;
  height: 149px;
  margin-top: 60px;
  margin-bottom: 50px;
}

.item-feature__title {
  font-family: Poppins;
  font-weight: 500;
  font-size: 26px;
  line-height: 100%;
  color: #000;
  text-align: center;
}

.item-feature__button {
  height: 60px;
  width: 234px;
  border-radius: 10px;
  margin-top: 100px;
}

.item-feature__blue-button {
  background: #9595C9;
}

.item-feature__red-button {
  background: #F01F35;
}

.form__body {
  max-width: 400px;
  height: 566px;
  margin: 0 auto;
  box-shadow: 0 20px 40px rgba(149, 149, 201, .4);
  border-radius: 10px;
}

.form__title {
  font-family: PT serif;
  font-size: 48px;
  line-height: 140%;
  text-align: center;
  color: #402B2B;
  margin-top: 100px;
  margin-bottom: 100px;
}

.form__link {
  color: rgb(226, 38, 38);
}

.form__label {
  font-family: Poppins;
  font-size: 16px;
  line-height: 40px;
  color: #626780;
  margin: 30px 0 0;
}

.form__input {
  width: 400px;
  height: 60px;
  border: 2px solid #9595C9;
  box-sizing: border-box;
  box-shadow: 0 20px 40px rgba(149, 149, 201, .2);
  border-radius: 10px;
  margin-top: 10px;
  padding-left: 40px;
  text-align: left;
}

.form__button {
  width: 220px;
  height: 60px;
  background: #9595C9;
  border-radius: 5px;
  display: block;
  text-align: left;
  margin: 30px 0;
  text-align: center;
}

.form__text {
  font-family: Poppins;
  font-size: 18px;
  line-height: 40px;
  color: #626780;
  text-align: left;
}

.footer {
  margin-top: 100px;
  max-width: 1600px;
  height: 373px;
  background: #9B9BCA;
}

.footer__columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 4rem;
  padding: 50px 23% 44px;
}

.footer__title {
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #FFF;
  margin-bottom: 12px;
}

.footer__link {
  font-family: Poppins;
  font-size: 16px;
  line-height: 24px;
  color: #E6E6E6;
  text-decoration: none;
}

.footer__row {
  max-width: 1600px;
  padding-left: 15%;
  padding-right: 15%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin-bottom: 0;
  margin-top: 70px;
}

.footer__icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #FFF;
  position: relative;
}

.footer__icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: .2rem;
}

.social-icon {
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 25%;
  left: 27%;
  align-items: center;
}

.footer__copyright {
  font-family: Rubik;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #FFF;
}

.logo {
  font-family: Rammetto One;
  font-size: 20px;
  line-height: 34px;
  color: #FFF;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, .25);
}

.footer-logo__circle {
  display: inline-block;
  font-family: Rammetto One;
  font-size: 20px;
  line-height: 72px;
  color: #FFF;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, .25);
  text-align: center;
}

.footer-logo__text {
  display: inline-block;
  font-size: 26px;
  font-family: Roboto;
  font-size: 22px;
  line-height: 26px;
  color: #FFF;
}

@media screen and (max-width: 600px) {

  .header__menu, .header__button {
    display: none;
  }

  .header__title {
    font-size: 28px;
    line-height: 100%;
  }

  .service__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1rem;
  }

  .feature-row {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1rem;
  }

  .footer__columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 3rem;
    padding: 30px 10%;
    line-height: 20px;
  }

  .footer__title {
    line-height: 20px;
  }

  .footer {
    height: 400px;
  }

  .footer__row {
    display: none;
  }
}
