body {
  background-color: rgb(243, 241, 241);
}

.block {
  border: 1px solid rgb(0, 0, 0);
  height: 500px;
  width: 600px;
}

.inputData {
  margin-top: 15px;
  margin-bottom: 10px;
}

.getFridays {
  margin-left: 20px;
  margin-bottom: 15px;
}

.getMonthLong {
  margin-left: 20px;
  margin-bottom: 15px;
}

.shortestWeek {
  margin-bottom: 15px;
  margin-left: 20px;
}

.weekInMonth {
  margin-left: 20px;
  margin-bottom: 15px;
}

.space {
  margin-left: 20px;
  margin-bottom: 15px;
}