.gallery {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    width: 100%;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    width: 100%;
}